/* ---------- */

body {
	background: #333;
}

footer {
	color: #999;
}

h1#titlefont, h3#titlefont {
    font-family: 'supcom';
}

p {
    font-family: 'Open Sans', sans-serif;
}

/* Panels */

#rounded {
    border-radius: 10px;
}

/* "Download Now" button */

.top-bar-section ul li:hover:not(.has-form) > a {
    background-color: #264856;
}

/* Title image */

.intro {
    height: 300px;
    position: relative;
    background: transparent url("http://placehold.it/1000x500/ccc/ccc") no-repeat scroll 50% 60% / cover;
    margin: 0px;
    padding: 0px;
}

h1#titlefont { 
   position: absolute; 
   top: 20%; 
   width: 100%; 
}

h3#titlefont {
    position: absolute; 
    bottom: 20%; 
    width: 100%; 
}

/* Intro */

span#intro-text {
    font-family: 'supcom';
    font-size: 24pt;
}

/* Will be removed */

.coloragainstback h1, h2 {
    color: #fff;
}

.coloragainstback h3 {
    color: #ccc;
}

/* ---------- */

.superrow {
    max-width: 100%;
}

.superrow2 {
    max-width: 100%;
    background-color: #222;
}

.selectedborder {
    margin: 5px;
}

/* Video */

.flex-video {
    padding: 29.664%;
}

/* Fonts */

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue Regular.otf');
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'supcom';
    src: url('../fonts/zeroes_3.ttf');
}

/* Pricing table */

.pricing-table li > h1 {
    color: #fff;
}

/* Carousel */
.carousel {
	background: #fff;
	text-align: center;
}

.slick-dots
{
    position: absolute;
    bottom: -15px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 40px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 40px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 12px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
