body {
	background: #333;
}

footer {
	color: #999999;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'BebasNeue';
}

p {
    font-family: 'Open Sans', sans-serif;
}

.coloragainstback h1, h2 {
    color: #fff;
}

.coloragainstback h3 {
    color: #ccc;
}

/* Video */

.flex-video {
    padding: 29.664%;
}

/* Fonts */

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue Regular.otf');
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue Bold.otf');
    font-weight: bold;
}

/* Entypo pictograms by Daniel Bruce — www.entypo.com */

@font-face {
    font-family: Entypo;
    src: url('../fonts/Entypo.otf');
}



/* Top bar button

.top-bar-section ul li > a.button {
    font-family: BebasNeue;
}
*/

/* Pricing table */

.pricing-table li > h1 {
    color: #fff;
}

/* Carousel */
.carousel {
	background: #fff;
	text-align: center;
}

.slick-dots
{
    position: absolute;
    bottom: -15px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 40px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 40px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 12px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}