<div class="container" ng-controller="LeaderboardController">
    <div class="jumbotron" id="search">

        <h1>FAF Leaderboards</h1>
        <p>FAF leaderboards use the TrueSkill rating system. More Information <a ng-href="http://wiki.faforever.com/index.php?title=Global_Ranking">here</a>.</p>

        <div class="btn-group-lg">
            <button id="globalbutton" ng-click="changeBoard('global')" class="btn btn-default">Global</button>
            <button id="ladderbutton" ng-click="changeBoard('1v1')" class="btn btn-default">Ladder</button>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-10 col-sm-8">
                <form class="input-group" ng-submit="findPlayer()">
                    <input type="text" class="form-control" placeholder="Username" ng-model="searchField">
                    <span class = "input-group-btn">
                        <button ng-click="findPlayer()" class="btn btn-default" type="submit">Search</button>
                    </span>
                </form>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Results per page
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a ng-href="#" ng-click="setMaxPlayers(10)">10</a></li>
                        <li><a ng-href="#" ng-click="setMaxPlayers(25)">25</a></li>
                        <li><a ng-href="#" ng-click="setMaxPlayers(50)">50</a></li>
                        <li><a ng-href="#" ng-click="setMaxPlayers(100)">100</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <nav>
        <ul class="pager">
            <li class="previous"><a ng-href="" ng-click="changePage(-1)">Previous</a></li>
            <li><a ng-href="" ng-click="gotoBottom()">Bottom</a></li>
            <li class="next"><a ng-href="" ng-click="changePage(1)">Next</a></li>
        </ul>
    </nav>

    <table id="playerlist" class="table table-striped jumbotron"></table>

    <nav>
        <ul class="pager">
            <li class="previous"><a ng-href="" ng-click="changePage(-1)">Previous</a></li>
            <li><a ng-href="" ng-click="gotoTop()">Top</a></li>
            <li class="next"><a ng-href="" ng-click="changePage(1)">Next</a></li>
        </ul>
    </nav>

    <footer></footer>

</div>