<div class="container newsheader"><h2>News</h2></div>

<div class="container">
    <hr>
    <div class="col-md-8">
        <div> <!-- ARTICLE -->
            <h2>Uutinen</h2>
            <p>Iinan kohellus on nyt jo maailmankuulua!</p>
        </div>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">Recent News</h3>
        <hr>
        <div class="bs-component">
            <div class="list-group">
                <div> <!-- PREVIEW LIST -->
                    <a href="" class="list-group-item">
                        <h4 class="list-group-item-heading">Uutinen</h4>
                        <p class="list-group-item-text">Iina taas kohelsi jotain omaa :D</p>
                    </a>
                    <a href="" class="list-group-item">
                        <h4 class="list-group-item-heading">Uutinen</h4>
                        <p class="list-group-item-text">Iina taas kohelsi jotain omaa :D</p>
                    </a>
                    <a href="" class="list-group-item">
                        <h4 class="list-group-item-heading">Uutinen</h4>
                        <p class="list-group-item-text">Iina taas kohelsi jotain omaa :D</p>
                    </a>
                    <a href="" class="list-group-item">
                        <h4 class="list-group-item-heading">Uutinen</h4>
                        <p class="list-group-item-text">Iina taas kohelsi jotain omaa :D</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-right">
            <ul class="pagination pagination-sm">
                <li class="disabled"><a href="">&laquo;</a></li>
                <li class="active"><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href="">&raquo;</a></li>
            </ul>
        </div>
        <hr>
    </div>
</div>
