<div class="container-fluid intro">
    <div class="container">
        <div class="well well-lg text-center introwell">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="maintitle">Forged Alliance Forever</h1>
                    <h4 id="subtitle">The Community Driven Lobby for Supreme Commander: Forged Alliance</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h2>The Project</h2>
                    <p>
                        Forged Alliance Forever is a community-driven project designed to facilitate online play for Supreme Commander: Forged Alliance. Complete with chat, matchmaking, replay vaults, tournaments and ever evolving balance.

                        If you want to experience Forged Alliance in its true glory together with thousands of other players of all skill levels, FAF is the place to be.</p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<div class="container-fluid features">
    <div class="container">
        <div class="row feature-item">
            <div class="col-md-2"></div>
            <div class="col-md-4 text-right">
                <h3>Multiplayer</h3>
                <p>Host and join teamgames or measure your skill against others in one versus one combat against players from all over the world.</p>
            </div>
            <div class="col-md-4">
                <img src="http://placehold.it/300x150" alt="Multiplayer">
            </div>
        </div>
        <hr>
        <div class="row feature-item">
            <div class="col-md-2"></div>
            <div class="col-md-4 text-right">
                <img src="http://placehold.it/300x150" alt="Multiplayer">
            </div>
            <div class="col-md-4">
                <h3>Modding</h3>
                <p>Experience countless variations on gameplay and thousands of player made maps to keep things fresh forever.</p>
            </div>
        </div>
        <hr>
        <div class="row feature-item">
            <div class="col-md-2"></div>
            <div class="col-md-4 text-right">
                <h3>Community</h3>
                <p>Meet one of the friendliest online communities out there complete with forums, a voice chat server, clans, wiki and a supremely moderated global chat to enjoy between games.</p>
            </div>
            <div class="col-md-4">
                <img src="http://placehold.it/300x150" alt="Multiplayer">
            </div>
        </div>
        <hr>
        <div class="row feature-item">
            <div class="col-md-2"></div>
            <div class="col-md-4 text-right">
                <img src="http://placehold.it/300x150" alt="Multiplayer">
            </div>
            <div class="col-md-4">
                <h3>Non-Profit</h3>
                <p>FAF is completely free and supported entirely by the community, even cash prize tournaments have no signup fees.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid supcominfo">
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="well well-lg text-center downloadwell">
                <h2>Join the largest SupCom community today!</h2>
                <a ng-href="#" class="btn btn-lg btn-danger">Download Now!</a>
                <p><em>Requires an installed version of Supreme Commander: Forged Alliance</em></p>
            </div>
        </div>
    </div>
</div>