@use '../abstracts/variables'
@use '../abstracts/mixins'

\:root
 

  /* Font sizes
  --paragraph-font-size: 1vw
  --subtitle-font-size: 2vw
  --title-font-size: 2.5vw

/* Used as white text between stuff

.responsiveTextTitle
  font-family: variables.$family-subtitle
  font-size: var(--subtitle-font-size)

.responsiveText
  font-size: var(--paragraph-font-size)
  padding: 1.2em 0
  line-height: 1.5em
  color: variables.$color-active
  font-family: variables.$family-paragraph
  direction: ltr

.responsiveTextPadding
  padding: 1.5em 10vw

.responsiveTextNoPadding
  font-size: var(--paragraph-font-size)
  line-height: 1.5em
  color: variables.$color-active
  font-family: variables.$family-paragraph
  direction: ltr

@media (max-width: 1600px)
  \:root
    --paragraph-font-size: 1.5vw
    --subtitle-font-size: 2.5vw
    --title-font-size: 3vw

@media (max-width: 800px)
  \:root
    --paragraph-font-size: 2vw
    --subtitle-font-size: 3vw
    --title-font-size: 3.5vw

@media (max-width: 600px)
  \:root
    --paragraph-font-size: 4vw
    --subtitle-font-size: 4.5vw
    --title-font-size: 5vw


html
  font-family: variables.$family-paragraph

body
  text-align: center
  background-attachment: fixed
  background-color: variables.$background-secondary
  background-position: center center
  margin: 0 0 0 0
  padding-top: 0
  font-family: variables.$family-paragraph
  color: variables.$color-active

a
  &:link
    text-decoration: none
    color: variables.$color-inactive
    transition: 0.5s

  &:visited
    text-decoration: none
    color: inherit

  &:hover
    color: variables.$color-active

ul
  padding: 0
  margin: 0

.indexButton
  margin: 10vw
  font-size: 4vw
  padding: 5vw
  background-color: variables.$button-inactive
  color: variables.$color-active
  font-family: variables.$family-title
  transition: 0.4s

  &:hover
    background-color: variables.$button-active
    color: variables.$color-active

/*===== Splat Starts =====

.splat_main_container
  display: grid
  grid-template-columns: 1fr
  position: relative
  padding: 10px 0 10px 0
  justify-items: center


.splat_rotate
  position: absolute
  transform: rotate(0.5turn)
  width: 100%
  z-index: 0
  object-fit: contain
  overflow: hidden



.splat
  position: absolute
  width: 100%
  object-fit: contain
  bottom: 0
  overflow: hidden

.splat_container
  position: relative
  width: 100%
  grid-column: 1/-1

.splat_black_background
  background-color: variables.$background-primary

.separationBar
  padding: 20px 0
  background-color: variables.$background-secondary

/*=============== Nav Bar ===============
/*===== Top Navbar =====

.main_topnav_container
  display: grid
  grid-template-columns: repeat(12, max-content)
  grid-template-rows: minmax(10px, 1fr)
  color: variables.$color-inactive-plus
  font-size: calc(var(--paragraph-font-size) / 1.2)
  background-color: variables.$background-primary
  padding: 0.3em
  position: relative
  justify-content: end
  place-items: center
  font-family: variables.$family-paragraph

.topnav_container
  padding: 0 0.5em

.topnav_item
  width: 100%
  height: 100%
  position: relative
  transition: 0.5s
  display: grid
  place-items: center
  cursor: pointer
  justify-self: end

.topnav_hover:hover, .topnav_item a
  color: variables.$color-active



  
.fab
  padding: 0.15em
  width: 100%
  text-align: center
  text-decoration: none
  color: variables.$color-inactive
  justify-self: end
  transition: 0.5s
  font-size: var(--paragraph-font-size)

  &:hover
    color: variables.$color-active
    
.fa-language
  color: variables.$color-active
  font-size: calc(var(--paragraph-font-size) * 2)
  padding: 0
  
  
.topNavAbsolute
  position: absolute
  z-index: 10
  text-align: left
  display: none
  font-size: 0.6em
  top: 1.5em
  right: 0
  font-family: variables.$family-title
  font-weight: 100
  a
    li
      padding: 20px
      display: block
      //border: 1px solid variables.$color-inactive
      background-color: variables.$background-primary
      transition: 0.25s

      &:hover
        color: variables.$color-active
        background-color: variables.$color-inactive-plus
  
.topNavList
  &:hover
    color: variables.$color-active
    transition: 0.25s
    cursor: pointer

  li
    color: variables.$color-inactive
/*===== Regular navbar =====

.main_nav_container
  display: grid
  grid-template-columns: max-content minmax(50px, auto) max-content max-content
  grid-template-rows: auto
  font-size: calc(var(--subtitle-font-size) / 1.5)
  background-color: variables.$background-secondary
  color: variables.$color-inactive
  font-family: variables.$family-paragraph
  justify-items: center
  padding: 10px 10px 0 10px

.nav_container
  align-self: center
  align-content: center

.nav_item
  width: 100%
  height: 100%
  position: relative
  list-style-type: none
  margin: 0
  padding: 0
  transition: 0.25s

  li
    display: inline-block
    padding: 0 20px

.nav_image img
  width: 80px
  height: 100%
  object-fit: contain
  overflow: hidden
  padding: 0 0 0 20px
  justify-self: center
  place-self: center

.nav_download
  background-color: variables.$button-inactive
  border: 0.1em solid variables.$button-active
  letter-spacing: 0.4px
  padding: 10px
  margin-left: 20px
  transition: 0.25s
  
  a
    color: variables.$color-active

  &:hover
    background-color: variables.$button-active



.nav_end
  justify-self: end
  font-weight: 900
  letter-spacing: 1px

/* This is the hover menu you see when you hover on GAME, COMMUNITY and so on

.nav_absolute
  position: absolute
  z-index: 10
  text-align: left
  display: none
  top: 1em
  

  li
    padding: 20px
    display: block
    //border: 1px solid variables.$color-inactive
    background-color: variables.$background-secondary
    transition: 0.25s

    &:hover
      color: variables.$color-active
      background-color: variables.$color-inactive-plus



.nav_list
  &:hover
    color: variables.$color-active
    transition: 0.25s
    cursor: pointer

  li
    color: variables.$color-inactive

.fa-caret-down
  transition: 0.35s

.nav_list:hover .fa-caret-down
  transform: rotate(-0.25turn)

@media (max-width: 1200px)
  .main_nav_container, .main_topnav_container
    display: none

/* Mobile navbar

.mobilenav_sticky
  position: sticky
  display: none
  top: 0
  z-index: 100
  background-color: variables.$background-secondary
  border: 1px solid variables.$color-active

.main_mobilenav_container
  display: grid
  grid-template-columns:  auto max-content
  grid-template-rows: auto
  justify-items: left
  align-content: center
  font-family: variables.$family-subtitle
  text-align: left
  font-size: 24px
  .mobilenavContainer
    align-self: center
    align-content: center
    justify-self: center
    img
      text-align: center
      padding: 0
      width: 60px
      height: 100%
    

#mobilenav_bars
  padding: 10px
  background-color: variables.$background-secondary
  border: 1px solid variables.$color-inactive
  justify-self: right

.mobilenav_bar1, .mobilenav_bar2, .mobilenav_bar3
  width: 35px
  height: 5px
  background-color: variables.$color-active
  margin: 6px 0
  transition: 0.4s

.mobilenav_change
  .mobilenav_bar1
    transform: rotate(-45deg) translate(-9px, 6px)

  .mobilenav_bar2
    opacity: 0

  .mobilenav_bar3
    transform: rotate(45deg) translate(-8px, -8px)

.mobilenav_mobile
  opacity: 0
  height: 0
  display: none
  transition: 1s

.mobilenav_mobile_active
  opacity: 100
  height: 100%
  transition: 1s
  display: block

#mobilenav_bg_sticky
  position: sticky
  top: 0
  z-index: 9

#mobilenav_bg
  position: absolute

.mobilenav_bg_active
  background-image: url("/public/images/fafbgpattern0.5.jpg")
  width: 100vw
  height: 100vh

  transition: 0.5s

.mobilenav_item
  margin: 10px
  padding: 45px 10px 0 0

.mobilenav_login
  margin: 10px
  padding: 25px 10px 0 0

.mobilenav_item ul
  list-style-type: none
  margin: 0
  padding-top: 10px

.mobilenav_ul
  display: none

  li
    padding: 15px 10px 15px 10px
    color: variables.$color-inactive

.mobilenav_active
  display: block

.mobilenav_social li
  display: inline-block
  padding: 10px

.mobilenav_caret .fa-caret-down
  transform: rotate(-0.25turn)
  transition: 0.5s
  color: variables.$color-active

/* Footer Navbar

.mainFooterContainer
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
  grid-template-rows: minmax(10px, 1fr)
  gap: 2vw
  color: variables.$color-inactive
  background: linear-gradient(180deg, black 0%, #222222 100%)
  padding: 20px 10px 50px 10px
  justify-content: center
  text-align: left
  

.endBanner
  background-image: url("/../../images/footerbanner.jpg")
  
.footerContainer
  padding: 0

.footerItem
  width: 100%
  height: 100%
  transition: 0.4s
  cursor: pointer
  line-height: 2.2em

  img
    width: 45%
    margin-left: 10%

  ul
    font-size: var(--paragraph-font-size)
    font-family: variables.$family-subtitle
    color: variables.$color-active

  li
    list-style-type: none
    margin-left: 1em
    font-size: 0.8em
    
    font-family: variables.$family-paragraph
    border: 1px solid variables.$background-secondary
    color: variables.$color-inactive

    &:hover
      color: variables.$color-active
      transition: 0.4s
      background-color: variables.$background-secondary
      border: 1px solid variables.$color-inactive

  a
    color: variables.$color-active

@media (max-width: 800px)
  .main_topnav_container
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))

@media (max-width: 1200px)
  .mobilenav_sticky
    display: block

@media (max-width: 1100px)
  .mobilenav_sticky
    display: block

@media (max-width: 1100px)
  .main_nav_container, .main_topnav_container
    display: none
