@use '../abstracts/variables'
@use '../abstracts/mixins'

.passResetEmail
  padding: 1em 2em

.accountForm
  @include mixins.gridMainContainer
  padding: 0vw
  gap: 0
   
.formGroup
  p
    padding: 0.2em


.formContainer
  padding: 1em 0
  text-align: center
  display: inline-block


.form-group
  padding: 2em 1em
  textarea
    min-width: 500px
  
.form-control
  width: 300px
  

  
.tosAgree
  label
    display: block
  input
    display: inline-block
    
.alert
  border-radius: 20px
  display: inline-block
  padding: 1em 2em
  margin: 1em 5vw
  list-style: none
  li
    list-style: none

// Flash alert styling
.alert-invite
  background-color: variables.$Seraphim
  a
    &:hover
      color: #ec9d36
      text-decoration: underline #ec9d36
      transition: 0.4s

.alert-danger
  background-color: variables.$Cybran

.alert-success
  background-color: variables.$Aeon

.recaptchaForm
  @include mixins.gridMainContainer
  padding: 2em
  label
    justify-self: center
    align-self: center
    .g-recaptcha
      display: inline-block
     




      
// Markdown styling


.container
  background-color: rgba(0,0,0,0.8)
  margin: 2vw 5vw
  padding: 2em 4vw
  border-radius: 20px
  text-align: left
  .markdownButton
    a
      display: inline-block
      margin: 1em
      button
        margin: 0
  a
    color: variables.$button-inactive
    text-decoration: underline variables.$button-inactive
    transition: 0.4s
    &:hover
      color: variables.$button-active
      text-decoration: underline variables.$button-active
    
  h2
    padding: 1em
  
  li
    padding: 0.5em
    font-size: 1em
    
.containerCenter
  background-color: rgba(0,0,0,0.8)
  margin: 2vw 5vw
  padding: 2em 4vw
  border-radius: 20px
  text-align: center
  .markdownButton
    a
      display: inline-block
      margin: 1em
      button
        margin: 0
  a
    color: variables.$button-inactive
    text-decoration: underline variables.$button-inactive
    transition: 0.4s
    &:hover
      color: variables.$button-active
      text-decoration: underline variables.$button-active

  h2
    padding: 0.25em 0

  li
    padding: 0.5em
    font-size: 1em
.centerFormPlease
  text-align: center
  table
    text-align: center
    margin: 0 auto
    display: block
    thead, tr, th
      text-align: center
    th
      padding: 1.5em
      
      
@media (max-width: 600px)
  .accountForm
    .column6
      grid-column: span 12
    .column12
      .centerFormPlease
        th, tr
          padding: 0.1em
    .formGroup, .form-group, h2, h3
      padding: 0.1em
    
  form
    .formStart
      min-width: 100px
      input
        min-width: 100px
    .form-control
      width: initial
  .containerCenter
    padding: 0.25em
    margin: 0
