extends ../layouts/default

block bannerData
  - var bannerImage = "Play"
  - var bannerFirstTitle = "Play, Concore, Destory"
  - var bannerSecondTitle = "Join the FAForever Community"
  - var bannerSubTitle = "Placeholder text"
    
    
block content
