extends ../layouts/default

block bannerData
  - var bannerImage = "campaign"
  - var bannerFirstTitle = "FIGHT TOGETHER WITH FRIENDS"
  - var bannerSecondTitle = "ON THE NEW CO-OP CAMPAIGN"
  - var bannerSubTitle = "PLUS ALL THE ORIGINAL MISSIONS AND NEW ONES!"
    
    
block content
  .descriptionMain
    .descriptionContainer
      h2 Enjoy the Nostalgia with Friends
      p FAF has implemented the co-op feature into the campaign. This means now you can play either of the four original campaigns with up to three friends (four players)! But! That's not all, FAF contributors are also working on creating two new campaigns! One for Seraphim and another one for the coalition! However, be warned that the new campaigns are meant to present a real challenge to seasoned players. If you need some help or have questions, feel free joining the FAF Campaign Development Discord or the FAF Discord!
      a(href='https://discord.gg/ayzAVr9JUV')
        button Campaign Discord
      a(href='https://discord.gg/mXahVSKGVb')
        button Official Discord
  .mainShowcase
    .showcaseContainer.column6
      h2.highlightText All 24 Missions
      h1 The Four Original Campaigns
      p Enjoy the complete Supreme Commander campaign with up to four players! All 24 missions from the UEF, Cybran, Aeon and Coalition/Forged Alliance Campaigns are already unlocked on the FAF client, all you need to do is hop in with your friends and play together!
    .showcaseImage.originalBG.column6
  .mainShowcaseReverse
    .showcaseImage.seraphimBG.column6
    .showcaseContainer.column6
      h2.highlightText The Seraphim's Last Stand
      h1 New Seraphim Campaign
      p After being defeated by the coalition, the Seraphim must stand up with everything they have and make their last stand! Rise up with the new Seraphim campaign for the hardcore players that want to face the toughest challenge with no backup.

  .mainShowcase
    .showcaseContainer.column6
      h2.highlightText Want a Real Challenge?
      h1 New Coalition Campaign
      p If you want a challenge and yet want to keep playing with coalition factions, then we got some good news for you! Our contributors are also working on a new co-op campaign with the coalition.
    .showcaseImage.coalitionBG.column6
  .mainShowcaseReverse
    .showcaseImage.missionsBG.column6
    .showcaseContainer.column6
      h2.highlightText Extra Missions
      h1 New Custom Missions
      p Even if you have beaten all these campaigns, FAF also has a couple new missions to offer. From rescuing civilians on Theta to crushing a Novax station, you got even more FAF content! 
  .descriptionMain
    .descriptionContainer
      h2 Help Develop or Create your Own Mission!
      p As you may be thinking, a lot of these new campaigns or missions are being developed by FAF contributors. Therefore, it is possible for you to create one too! Albeit it can be challenging at first if you dont have much experience, many FAF contributors can guide and help you at first so you can create your own custom missions! Just join the Campaign Development Discord and ask around!
      a(href='https://discord.gg/ayzAVr9JUV')
        button Campaign Discord


