extends ../layouts/default

block bannerMixin

block content
  script(type='module' src="../../js/app/clans.js")
  .clanBackground
    .mainClanContainer
      .clanContainer.column12.centerYourself
        p Search FAF Clans
          #errorLog
        input#input(onkeyup=`pressEnter(event)` type='text' placeholder='Clan TAG')
        #searchbar
          .searchBar
            ul
              #placeMe
        ul#clearSearch.clearButton.appearWhenSearching
          li.fas.fa-trash-alt
    .mainClanContainer.clanBorder#searchResults.appearWhenSearching

      .clanContainer.column6
        .clanItem
          ul Clan Name
          li#clanNameSearch
      .clanContainer.column1
        .clanItem
          ul TAG
          li#clanTAGSearch
      .clanContainer.column3
        .clanItem
          ul Clan Leader
          li#clanPlayerSearch
      .clanContainer.column2
        .clanItem
          ul Population
          li#clanPopulationSearch
    .mainClanContainer

      //DO NOT Change the order of these without changing the js. For them to work, they need to be in this specific order
      .clanContainer.clanButton.column12
        ul
          li(onclick= `pageChange(0)`).pageButton.exhaustedButton First
          li(onclick= `pageChange(lastPage)`).pageButton Last 
        ul
          li(onclick= `pageChange(pageNumber - 1)`).pageButton.exhaustedButton Previous
          li(onclick= `pageChange(pageNumber + 1)`).pageButton Next

    .mainClanContainer.clanBorder

    
      .clanContainer.column6
        .clanItem
          ul Clan Name
          li#clanName
      .clanContainer.column1
        .clanItem
          ul TAG
          li#clanTAG
      .clanContainer.column3
        .clanItem
          ul#spawnPlayer Clan Leader
          li#clanPlayer
      .clanContainer.column2
        .clanItem
          ul Population
          li#clanPopulation
    .mainClanContainer
      .clanContainer.clanButton.column12
        ul
          li(onclick= `pageChange(0)`).pageButton.exhaustedButton First
          li(onclick= `pageChange(lastPage)`).pageButton Last 
        ul
          li(onclick= `pageChange(pageNumber - 1)`).pageButton.exhaustedButton Previous 
          li(onclick= `pageChange(pageNumber + 1)`).pageButton Next

block js

  script( src="../../js/app/clans.js")
  
