extends ../layouts/default

block content
  //TODO 
	.container.text-center.client-wrapper
		.row
			.col-md-12
				h1.contribution-title Client Downloads
				h4.contribution-subtitle.text-center In order to play Supreme Commander with other players, you must download one of the following FAF clients. 
					|As an open source community, we provide two different clients that provide similar functionality and use the same servers. 
					|There is the Original Client and Downlord's Client.
					br
					br
					p If you would like to know more specific information about what each client provides, then please view the overview on GitHub.
					p: a(href='https://github.com/FAForever/downlords-faf-client/wiki/Feature-Comparison') Original Client and Downlord's Client Feature Comparison
				hr
		.row
			table
				colgroup
					col
					col
					col

				thead
					tr
						th &nbsp;
						th
							h2 Original Client
							a(href=client_download_link) Download

						th
							h2 Downlord's Client
							a(href=downlords_faf_client_download_link) Download

				tfoot
					tr
						th &nbsp;
						td: a(href=client_download_link) Download
						td: a(href=downlords_faf_client_download_link) Download

				tbody
					tr
						th "Game Full" Notification
						td: span.glyphicon.glyphicon-ok
						td: span.glyphicon.glyphicon-ok
					tr
						th Achievements
						td: span.glyphicon.glyphicon-remove
						td: span.glyphicon.glyphicon-ok
					tr
						th Co-Op Gameplay
						td: span.glyphicon.glyphicon-ok
						td: span.glyphicon.glyphicon-ok
					tr
						th Custom Games
						td: span.glyphicon.glyphicon-ok
						td: span.glyphicon.glyphicon-ok
					tr
						th 1v1 Games
						td: span.glyphicon.glyphicon-ok
						td: span.glyphicon.glyphicon-ok
					tr
						th Map Vault
						td: span.glyphicon.glyphicon-ok
						td: span.glyphicon.glyphicon-ok
					tr
						th Mod Vault
						td: span.glyphicon.glyphicon-ok
						td: span.glyphicon.glyphicon-ok
					tr
						th Replays
						td: span.glyphicon.glyphicon-ok
						td: span.glyphicon.glyphicon-ok
