extends ../layouts/default

block content
	.container.text-center.client-wrapper
		.row
			.col-md-12
				h1.contribution-title Client Downloads
				h4.contribution-subtitle.text-center In order to play Supreme Commander with other players, you must download one of
					|  the following clients. As an open source community, we provide two different clients that provide SIMILAR functionality.
					| Downlord's FAF client is a more active version of the client, and is still in ALPHA stages. Whereas, the Forged Alliance Forever client
					| is not as active, but is stable. <strong>We currently recommend that you use the stable Forged Alliance Forever client.</strong>
					br
					br
					p If you would like to know more specific information about what each client provides, then please view the official overview on Github.
					p: a(href='https://github.com/FAForever/downlords-faf-client/wiki/Feature-Comparison') Official and Alpha Client Feature Comparison
				hr
		.row
			table
				colgroup
					col
					col
					col

				thead
					tr
						th &nbsp;
						th
							h2 Forged Alliance Forever Client
							h3 (Official)
							a(href=client_download_link) Download

						th
							h2 Downlord's FAF Client
							h3 (Alpha)
							a(href=downlords_faf_client_download_link) Download

				tfoot
					tr
						th &nbsp;
						td: a(href=client_download_link) Download
						td: a(href=downlords_faf_client_download_link) Download

				tbody
					tr
						th Modern UI
						td: span.glyphicon.glyphicon-remove
						td: span.glyphicon.glyphicon-ok
					tr
						th "Game Full" Notification
						td: span.glyphicon.glyphicon-remove
						td: span.glyphicon.glyphicon-ok
					tr
						th Achievements
						td: span.glyphicon.glyphicon-remove
						td: span.glyphicon.glyphicon-ok
					tr
						th Co-Op Gameplay
						td: span.glyphicon.glyphicon-ok
						td: span.glyphicon.glyphicon-ok
					tr
						th Custom Games
						td: span.glyphicon.glyphicon-ok
						td: span.glyphicon.glyphicon-ok
					tr
						th 1v1 Games
						td: span.glyphicon.glyphicon-ok
						td: span.glyphicon.glyphicon-ok
					tr
						th Map Vault
						td: span.glyphicon.glyphicon-ok
						td: span.glyphicon.glyphicon-ok
					tr
						th Mod Vault
						td: span.glyphicon.glyphicon-ok
						td: span.glyphicon.glyphicon-ok
					tr
						th Replays
						td: span.glyphicon.glyphicon-ok
						td: span.glyphicon.glyphicon-ok
