extends ../layouts/default

block content
  .container
    ul.nav.nav-tabs.competitive-nav
      h1.text-center Competitive Supreme Commander: Forged Alliance
      h4.text-center The FAF community hosts regular tournaments for all levels of play
      each link in cNavLinks
        li(class=(cSection == link.key ? 'active' : null)): a(href=link.href)= link.label

  .container
    block cContent
