extends ../layouts/default

block intro
  .container-fluid
    .banner

block content
  .container
    ul.nav.nav-tabs.competitive-nav
      each link in cNavLinks
        li(class=(cSection == link.key ? 'active' : null)): a(href=link.href)= link.label

  .container
    block cContent
      h1 Upcoming Tournaments
      p Lorem ipsum...
