extends competitive_nav

block cContent
  h1 Upcoming Tournaments
  
  if error
    h2 Error!
  else
    table.table.table-striped.table-hover
      thead
        tr
          th Name
          th Start at
          th Link
      tbody
        each tournament, i in data.upcomingTournaments
          tr
            td= tournament.name
            td= tournament.start_at
            td= tournament.full_challonge_url
