extends ../layouts/default

block content
	.container.text-center
		.row
			.col-md-12
				h1.contribution-title Contribute to Forged Alliance Forever
				h4.contribution-subtitle.text-center As a non-profit open source project we are reliant on contributions from the community. Donating is just one of the many ways you can contribute to the community. Check out the different ways <strong>YOU</strong> can contribute today!
				hr
		.row
			.col-md-6
				h2 Donations
				p You can support the continuing development of Forged Alliance Forever with a donation. Donations are used exclusively for continued development and support of Forged Alliance Forever. We are extremely grateful for your aid!&nbsp;
					| <strong>All donors will receive a free avatar!</strong>
				a(class="btn btn-default btn-lg github-button", href="https://www.patreon.com/faf") Donate on Patreon
			.col-md-6
				h2 Development
				p Forged Alliance Forever is an open source project and always looking for new collaborators. You can help with development on Github, however we request you to contact an administrator/moderator on the forums or in our in-client chat (white names at the top) so that we can invite you to our developer Slack chat for easier communication.
				a(class="btn btn-default btn-lg github-button", href="https://wiki.faforever.com/index.php?title=Introduction_to_development") Intro to Development
				a(class="btn btn-default btn-lg github-button", href="https://github.com/faforever/") View on Github
		.row
			.col-md-6
				h2 Creating Maps and Mods
				p Do you have a cool idea for a new map or mod? Awesome! Our vaults are always open for new and exciting maps and mods.
				a(class="btn btn-default btn-lg github-button", href="https://wiki.faforever.com/index.php?title=Map_Editor") Mapping Information
				a(class="btn btn-default btn-lg github-button", href="https://wiki.faforever.com/index.php?title=Modding") Modding Information
				a(class="btn btn-default btn-lg github-button", href="https://discord.gg/VMhM2N8") FAF Creative Discord
			.col-md-6
				h2 Testing & Bug Reports
				p Forged Alliance Forever is constantly evolving. You can help as a tester for balance patches and you can help by testing the latest new mods from our developers.
				a(class="btn btn-default btn-lg github-button", href="https://wiki.faforever.com/index.php?title=Reporting_Technical_Issues") Learn more about Testing
		.row
			.col-md-6
				h2 Train Beginners
				p One of the biggest challenges for every beginner is understanding the gameplay and mechanics of Supreme Commander. Help out your fellow n00bies by teaching them everything from the basics to more advanced techniques of crushing their opponents.
				a(class="btn btn-default btn-lg github-button", href="https://wiki.faforever.com/index.php?title=Learning_SupCom") Learn more about Teaching
			.col-md-6
				h2 Streaming & Casting
				p Don't know how to contribute in any other way? Then streaming and casting is right for you! Boost the community by casting replays or live streaming games on Twitch, Youtube, etc.
				a(class="btn btn-default btn-lg github-button", href="https://forum.faforever.com/topic/338/list-of-active-faf-streamers") Start Streaming & Casting Now!
		.row
			.col-md-6
				h2 IssueHunt
				p This is the issue-based bounty platform for open source projects. OSS owners and contributors can get financial support from IssueHunt and our community sponsors through this platform.
				a(class="btn btn-default btn-lg github-button", href="https://issuehunt.io/r/FAForever/downlords-faf-client") FAF Client
				a(class="btn btn-default btn-lg github-button", href="https://issuehunt.io/r/FAForever/server") FAF Server
			.col-md-6
				h2 Other FAF Discords
				p List of Other FAF Community Discords
				a(class="btn btn-default btn-lg github-button", href="https://discord.gg/rW6AHqr") Official Russian
				a(class="btn btn-default btn-lg github-button", href=" https://discord.gg/8bbfKjG") Official French
				a(class="btn btn-default btn-lg github-button", href=" https://discord.gg/6E2sAHt") Official ANZ
				a(class="btn btn-default btn-lg github-button", href=" https://discord.gg/pjdGD6S") Nomads Development
				a(class="btn btn-default btn-lg github-button", href=" https://discord.gg/ChRfhB3") Ai-Development
				a(class="btn btn-default btn-lg github-button", href=" https://discord.gg/8A8KdSm") FAF Promotions
		.row
			.col-md-12
				h2.thanks-for-support Thank you for your support!
