extends ../layouts/default

block content
	.container.text-center
		.col-md-12
			h1.contribution-title Contribute to Forged Alliance Forever
		.col-md-6
			h2 Donations
			p If you would like to support the continuing development of Forged Alliance Forever you can do so here. All donations will be used exclusively for continued development and support of Forged Alliance Forever. We are extremely grateful for your aid!
			<form class="donation-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_donations">
			<input type="hidden" name="business" value="visionik@pobox.com">
			<input type="hidden" name="lc" value="US">
			<input type="hidden" name="item_name" value="FAForever">
			<input type="hidden" name="no_note" value="0">
			<input type="hidden" name="currency_code" value="EUR">
			<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
		.col-md-6
			h2 Development
			p Forged Alliance Forever is an open source project and always looking for new collaborators. If you would like to help with development you can do so on Github, however we request you to contact an administrator/moderator on the forums or in our in-client chat (white names at the top) so that we can invite you to our developer Slack chat for easier communication.
			button(class="btn btn-default btn-lg btn-outro") View on Github
		.col-md-12
			h2.thanks-for-support Thank you for your support!
