extends ../layouts/default

block bannerData
  - var bannerImage = "fafteams"
  - var bannerFirstTitle = "THE PEOPLE THAT"
  - var bannerSecondTitle = "KEEP FAF RUNNING"
  - var bannerSubTitle = "THE STRUCTURE TO THE CHAOS"
block content
  .descriptionMain
    .descriptionContainer
      h2 FAF Teams
      p The teams below are all key parts of not only keeping FAF alive, but to give it structure. FAF has a "distributed" system of power. For example, the balance team decides balance decisions. They do not have any upper management to answer to. Therefore, each team leader and its members can work their vision to reality without worrying too much about bureaucracy. 
  //.descriptionText
    p The teams below are all key parts of not only keeping FAF alive, but to continuously develop it, promote FAF and its events, create a competitive scene, maintain the files and longevity of FAF, keep the balance fun and fair, make sure community spaces are civil and healthy and much more! FAF is kept alive thanks to the work of multiple contributors, all adding another bit to make the game better everyday!
      br
      a(href='https://wiki.faforever.com/en/FAF-Teams' target='_blank')
        button Learn More

  .teamMain#insertWordpress
    .teamSelection.column4
      h1 PROMOTIONS TEAM
      img(src='/images/fafteams/promo.png' alt='Promotions Team Logo')
    .teamSelection.column4
      h1 TRAINER TEAM
      img(src='/images/fafteams/trainer.png' alt='Trainer Team Logo')
    .teamSelection.column4
      h1 FAFLIVE TEAM
      img(src='/images/fafteams/game.png' alt='FAFLive Team Logo')
    .teamSelection.column4
      h1 TOURNAMENT TEAM
      img(src='/images/fafteams/tournament.png' alt='tournament Team Logo')
    .teamSelection.column4
      h1 matchmaking TEAM
      img(src='/images/fafteams/matchmaking.png' alt='matchmaking Team Logo')
    .teamSelection.column4
      h1 balance TEAM
      img(src='/images/fafteams/balance.png' alt='balance Team Logo')
    .teamSelection.column4
      h1 creative TEAM
      img(src='/images/fafteams/creative.png' alt='creative Team Logo')
    .teamSelection.column4
      h1 moderation TEAM
      img(src='/images/fafteams/moderation.png' alt='moderation Team Logo')
    .teamSelection.column4
      h1 devops TEAM
      img(src='/images/fafteams/devops.png' alt='devops Team Logo')
  .descriptionMain
    .descriptionContainer
      H2 The Association
      p Albeit FAF teams have a lot of free reign on their duties, there is still a group above them: The Association. It is registered as a non-profit voluntary association registered in Denmark. It is the legal entity that owns FAForever (FAF doesn't own Supreme Commander or its intellectual property). In the early months of every year there is a democratic general election to choose the board members (the people that make significant decisions for the community/FAForever). The board is formed by the contributors with the most renown within the community. 
      a(href='https://forum.faforever.com/topic/2347/what-is-the-association')
        button Learn More
      a(href='https://docs.google.com/document/d/1hvEtv6hCD3-ZUhTHDzyYpNAcHc8PYY3BMT_-UDyc0uM/edit')
        button Statuses of the Association
      a(href='https://forum.faforever.com/topic/2346/how-to-become-a-member-of-the-association')
        button How to Join the Association
    


block js
  script(src=webpackAssetJS('faf-teams'))

