extends ../layouts/default

block bannerData
  - var bannerImage = "fafteams"
  - var bannerFirstTitle = "THE STRUCTURE THAT"
  - var bannerSecondTitle = "KEEPS FAF ORGANIZED"
  - var bannerSubTitle = "READY TO JOIN A TEAM AND HELP?"
block content

