extends ../layouts/default

block bannerData
  - var bannerImage = "fafteams"
  - var bannerFirstTitle = "THE PEOPLE THAT"
  - var bannerSecondTitle = "KEEP FAF RUNNING"
  - var bannerSubTitle = "READY TO LEND A HAND?"
block content
  //.descriptionText
    p The teams below are all key parts of not only keeping FAF alive, but to continuously develop it, promote FAF and its events, create a competitive scene, maintain the files and longevity of FAF, keep the balance fun and fair, make sure community spaces are civil and healthy and much more! FAF is kept alive thanks to the work of multiple contributors, all adding another bit to make the game better everyday!
      br
      a(href='https://wiki.faforever.com/en/FAF-Teams' target='_blank')
        button Learn More

  .teamMain#insertWordpress
    .teamSelection.column4
      h1 PROMOTIONS TEAM
      img(src='/images/fafteams/promo.png' alt='Promotions Team Logo')
    .teamSelection.column4
      h1 TRAINER TEAM
      img(src='/images/fafteams/trainer.png' alt='Trainer Team Logo')
    .teamSelection.column4
      h1 FAFLIVE TEAM
      img(src='/images/fafteams/game.png' alt='FAFLive Team Logo')
    .teamSelection.column4
      h1 TOURNAMENT TEAM
      img(src='/images/fafteams/tournament.png' alt='tournament Team Logo')
    .teamSelection.column4
      h1 matchmaking TEAM
      img(src='/images/fafteams/matchmaking.png' alt='matchmaking Team Logo')
    .teamSelection.column4
      h1 balance TEAM
      img(src='/images/fafteams/balance.png' alt='balance Team Logo')
    .teamSelection.column4
      h1 creative TEAM
      img(src='/images/fafteams/creative.png' alt='creative Team Logo')
    .teamSelection.column4
      h1 moderation TEAM
      img(src='/images/fafteams/moderation.png' alt='moderation Team Logo')
    .teamSelection.column4
      h1 devops TEAM
      img(src='/images/fafteams/devops.png' alt='devops Team Logo')
    
    


block js
  script(src="../../js/app/faf-teams.js")

