extends ../layouts/default

block bannerButton
  br
  a(href='https://www.faforever.com/client')
    button.landingButton PLAY NOW
block content
  
  //Monkeylord Background 
  .mainScrollContainer
    .scroll_container.scrollRelative
      .scroll_absolute
        .highlightText JOIN THOUSANDS
        | IN MONUMENTAL
        br
        | BATTLEFIELDS
    .scroll_container
      .scroll_item
        .scrollText.scrollFade.animationRigth
          | FAF is a community-driven project that continues the development of SupCom:FA. Completing it with a Co-Op campaign, matchmaking, visual and balance updates, advanced AIs, new gamemodes, mods, UI customization, 16 player matches plus tournaments. Join one of the biggest RTS communities and deliver absolute warfare with friends against other players or exciting co-op missions or survival!
    .scroll_container
      .scroll_item
        .scroll_image.scrollFade.animationRigth
          img(src='/images/intro.jpg' alt='')


  .splat_main_container.splat_black_background
    .splat_container
      .splat_rotate
        img(src='/images/blacksplat.png' alt='')
  // The bold white bar that separates containers
  .mainThinContainer
    p FAF IMPROVEMENTS ON 
    .highlightText SUPREME COMMANDER
  .splat_main_container.splat_black_background
    .splat_container
      .splat
        img(src='/images/blacksplat.png' alt='')
        
  
  //New multiple choice container
  .mainImprovementsContainer
    //.responsiveText Thanks to the many developers and contributors in the community, we have been able to continue the development of Forged Alliance. Delivering many necessary quality of life features.

    .improvementContainer
      .gridImage.improvementImage
        img(src='/images/fafupdate.jpg' alt='')
      .responsiveTextTitle Co-Op Campaign 
        .responsiveTextNoPadding Enjoy the complete campaign with friends and extra missions plus a new Seraphim Campaign!
          
    .improvementContainer
      .gridImage.improvementImage
        img(src='/images/fafmatchmaking.jpg' alt='')
      .responsiveTextTitle Matchmaking
        .responsiveTextNoPadding Ranked matchmaking featuring queues for 1v1 duels, 2v2 duos and 4v4 teamgames! Plus custom game lobbies!
          
    .improvementContainer
      .gridImage.improvementImage
        img(src='/images/fafmapsmods.jpg' alt='')
      .responsiveTextTitle The Vault
        .responsiveTextNoPadding Featuring hundreds of new maps and mods made by the community! From updates to Supcom classics to news ones with high quality textures!
          
    .improvementContainer
      .gridImage.improvementImage
        img(src='/images/fafai.jpg' alt='')
      .responsiveTextTitle Advanced AIs 
        .responsiveTextNoPadding Community made AIs that can provide a real challenge! Each with a different specialization!
          
    //.improvementContainer
      .gridImage.improvementImage
        img(src='/images/fafstatistics.jpg' alt='')
      .responsiveTextTitle Player Statistics
        .responsiveTextNoPadding See your rival or friend you play the most with, which map or faction you have the highest win rate with!
         
    .improvementContainer
      .gridImage.improvementImage
        img(src='/images/faftournaments.jpg' alt='')
      .responsiveTextTitle Tournaments
        .responsiveTextNoPadding From the yearly LoTS and Rainbow Cup, the classic King of Setons and King of Dual Gap to other cross-community tournaments!
    .improvementContainer
      .gridImage.improvementImage
        img(src='/images/banner/donation.jpg' alt='')
      .responsiveTextTitle Placeholder
        .responsiveTextNoPadding What should be placed here? This poor sod doesn't know what to be :(
           
  
    //Factions Start here

  .splat_main_container.splat_black_background
    .splat_container
      .splat_rotate
        img(src='/images/blacksplat.png' alt='')
  // The bold white bar that separates containers
  .mainThinContainer
    .highlightText FOUR FACTIONS 
    p OF ABSOLUTE DESTRUCTION
  .splat_main_container.splat_black_background
    .splat_container
      .splat
        img(src='/images/blacksplat.png' alt='')

  //ACU Cards
  .factionMainContainer
    .column12
      .responsiveText
        | Whether you are into the chunky UEF mechs and tanks, the Cybran stealthy spiderbots and walking ships, Aeon shielded hover units and donuts or Seraphim abstract alien mix of chickens. FAF has a faction for you to raze your opponents base to the ground.
    //UEF
    .column3.acuCard
      .gridItem
        .gridImage.scrollFade.animationLeft
          img(src='/../../images/ueflogo.jpg' alt='')
    //CYBRAN
    .column3.acuCard
      .gridItem
        .gridImage.scrollFade.animationLeft
          img(src='/../../images/cybranlogo.jpg' alt='')
    //AEON
    .column3.acuCard
      .gridItem
        .gridImage.scrollFade.animationRigth
          img(src='/../../images/aeonlogo.jpg' alt='')
    //SERAPHIM
    .column3.acuCard
      .gridItem
        .gridImage.scrollFade.animationLeft
          img(src='/../../images/seraphimlogo.jpg' alt='')
    .column12.factionCard
      .gridItem
        .gridImage.scrollFade
          img(src='/../../images/uefbg.jpg' alt='')
    .column12.factionCard
      .gridItem
        .gridImage.scrollFade
          img(src='/../../images/cybran.jpg' alt='')
    .column12.factionCard
      .gridItem
        .gridImage.scrollFade
          img(src='/../../images/aeon.jpg' alt='')
    .column12.factionCard
      .gridItem
        .gridImage.scrollFade
          img(src='/../../images/seraphim.jpg' alt='')


  //This is where eco and zoom will go
  //splat start
  .splat_main_container.splat_black_background
    .splat_container
      .splat_rotate
        img(src='/images/blacksplat.png' alt='')
  .mainThinContainer
    p TOTAL CONTROL
    .highlightText SUPREME COMMANDING
  .splat_main_container.splat_black_background
    .splat_container
      .splat
        img(src='/images/blacksplat.png' alt='')
  //splat end
  //zoom start
  .rectangleSpace
    .mainRectangleContainer
      .column7.rectangleContainer
        .responsiveTextTitle.highlightText
          | STRATEGIC ZOOM
          .responsiveText
            |Lead your armies and bases at the same time from afar with the strategic zoom. Have a clear look of what's happening everywhere in a matter of seconds!
      .column5
        .gridImage
          img(src='/images/zoomout.jpg' alt='')
    .mainRectangleContainerReverse
      .column7.rectangleContainer
        .responsiveTextTitle.highlightText
          | RESPONSIVE ECONOMY
          .responsiveText
            |With its flux econonomy system, get an economy that responds to your actions instantly and requires you to adapt to the changes in the battlefield!
      .column5
        .gridImage
          img(src='/images/resources.jpg' alt='')
    .mainRectangleContainer
      .column7.rectangleContainer
        .responsiveTextTitle.highlightText
          | LAND, AIR AND SEA
          .responsiveText
            |Flatten enemy armies with your bombers, raze their base with battleships and raid their every expansion with your army!
      .column5
        .gridImage
          img(src='/images/techlevels.jpg' alt='')


  //ZOOM end
  //eco start

  //end banner start

  .splat_main_container.splat_black_background
    .splat_container
      .splat_rotate
        img(src='/images/blacksplat.png' alt='')

  .mainBannerContainer.endBanner
    .bannerContainer.bannerTitle.highlightText PLAY SUPREME COMMANDER
    .bannerContainer.bannerTitle THE WAY IT WAS INTENDED
    .bannerContainer.bannerSubtitle
      br
      a(href='https://www.faforever.com/client')
        button.landingButton PLAY NOW
  .splat_main_container.splat_black_background
    .splat_container
      .splat
        img(src='/images/blacksplat.png' alt='')

block js
script const refreshCountersSeconds = !{refreshCountersSeconds};
script(src="/js/app/counter.js")
