extends ../layouts/default

block css
	link(href="/styles/css/index.min.css", rel="stylesheet")

block content
	.intro
		div.hero
		.introtitle
			img(src="/images/vector_faf_logo.png")
			.hgroup
				h1 Forged Alliance Forever
				h3 The Community Driven Lobby for </br> Supreme Commander: Forged Alliance
			a(class="btn btn-default btn-lg btn-intro") Download Client
	.the-project: .container
		.col-md-3
		.col-md-6
			h1 The Project
			p Forged Alliance Forever is a community-driven project designed to facilitate online play for Supreme Commander: Forged Alliance. Complete with chat, matchmaking, replay vaults, tournaments and ever evolving balance.
			p If you want to experience Forged Alliance in its true glory together with thousands of other players of all skill levels, FAF is the place to be.
	.features: .container
		.row
			.col-md-2
			.col-md-4: .text-right
				h3 Multiplayer
				p Host and join teamgames or measure your skill against others in one versus one combat against players from all over the world.
			.col-md-4
				img(src="/images/multiplayer.png" class="img-responsive")
		.row
			.col-md-2
			.col-md-4: .text-right
				img(src="/images/modding.png" class="img-responsive")
			.col-md-4
				h3 Modding
				p Experience countless variations on gameplay and thousands of player made maps to keep things fresh forever.
		.row
			.col-md-2
			.col-md-4: .text-right
				h3 Community
				p Meet one of the friendliest online communities out there complete with forums, a voice chat server, clans, wiki and a supremely moderated global chat to enjoy between games.
			.col-md-4
				img(src="/images/community.png" class="img-responsive")
		.row
			.col-md-2
			.col-md-4: .text-right
				img(src="/images/tournaments.png" class="img-responsive")
			.col-md-4
				h3 Non-Profit
				p FAF is completely free and open source. Donations are used for server costs and tournament prize-pools
	.what-is: .container
		.row
			.col-md-3
			.col-md-6.text-center
				h1 What is Supreme Commander?
		.row.text-center
			.col-md-1
			.col-md-3
				img(src="/images/strategic-zoom.png" class="img-responsive")
				h3 Genre-Defining Command & Control
				p Control your units from any vantage point. Issue orders from the theater of war commander's view, or zoom down into the heart of the battle and adjust your strategies on the fly.
			.col-md-4
				img(src="/images/destruction.png" class="img-responsive")
				h2 Destruction On An Unparalleled Scale
				p Attack with unique land, sea, and air units, wage war across frozen tundras, scorching deserts and vast oceans. Devastating experimental units will finish the job.
			.col-md-3
				img(src="http://placehold.it/290x400" class="img-responsive")
				h3 Four Unique Factions
				p Unleash the most powerful weapon in the galaxy, the Supreme Commander, and turn the tide of the Infinite War once and for all.
		.row.text-center.buy-now
			hr
			h3 A Supreme Commander: Forged Alliance installation is required to be able to play on FAF
			.col-md-3
			.col-md-6
				a(href="http://store.steampowered.com/app/9420" class="btn btn-default btn-lg btn-outro") Buy from Steam
	.container
