extends ../layouts/default
block bannerData
  - var bannerImage = "leaderboards"
  - var bannerFirstTitle = "FAF LEADERBOARDS"
  - var bannerSecondTitle = "LOOK AT THE TOP PLAYERS*"
  - var bannerSubTitle = "*OF THE LAST MONTH, NEXUS NOT INCLUDED"
block content

  .mainLeaderboardContainer
    .leaderboardContainer.leaderboardCategory.column12
      ul
        li#globalLeaderboard Global
        li#oneLeaderboard.activeLeaderboard 1v1
        li#twoLeaderboard 2v2
        li#noShareLeaderboard 4v4 No share
        li#fullShareLeaderboard 4v4 Fullshare
    .leaderboardContainer.leaderboardCategory.column12
      ul
        li#nextLeaderboard Next
        li#previousLeaderboard Previous
    .leaderboardContainer.column1
      .leaderboardItem
        ul.responsiveText Rank
          li#oneRank
    .leaderboardContainer.column3
      .leaderboardItem
        ul.responsiveText#spawnPlayer Player
          li#onePlayer
          
    .leaderboardContainer.column3
      .leaderboardItem
        ul.responsiveText Rating
          li#oneRating
    .leaderboardContainer.column2
      .leaderboardItem
        ul.responsiveText Win Rate
          li#oneWon
    .leaderboardContainer.column3
      .leaderboardItem
        ul.responsiveText Total Games
          li#oneGamesAmount

          
    
block js
  script(type='module' src="../../js/app/leaderboards.js")
