extends ../layouts/default

block bannerMixin

block content
  script(type='module' src="../../js/app/leaderboards.js")
  .leaderboardBackground
    .mainLeaderboardContainer
      .leaderboardContainer.column12.centerYourself
        p Search for a player in the selected leaderboard
          #errorLog
        input#input(onkeyup=`pressEnter(event)` type='text' placeholder='Player Name')
        #searchbar
          .searchBar
            ul
              #placeMe
        ul#clearSearch.clearButton.appearWhenSearching
          img(src='/../../images/fontAwesomeIcons/trash.svg' alt='')
    .mainLeaderboardContainer.leaderboardBorder#searchResults.appearWhenSearching
      .leaderboardContainer.column1
        .leaderboardItem
          ul Rank
            li#leaderboardRankSearch
      .leaderboardContainer.column3
        .leaderboardItem
          ul Player
            li#leaderboardPlayerSearch
      .leaderboardContainer.column3
        .leaderboardItem
          ul Rating
            li#leaderboardRatingSearch
      .leaderboardContainer.column2
        .leaderboardItem
          ul Win Rate
            li#leaderboardWonSearch
      .leaderboardContainer.column3
        .leaderboardItem
          ul Total Games
            li#leaderboardGamesAmountSearch
    .mainLeaderboardContainer

      .leaderboardContainer.leaderboardCategory.column4
        select.leaderboardFilter(onchange='changeLeaderboard(this.value)')
          option(value='1v1') 1v1
          option(value='2v2') 2v2
          option(value='4v4') 4v4
          option(value='global') Global
        select.leaderboardFilter(onchange='timeCheck(this.value)')
          option(value='6') 6 Months
          option(value='3') 3 Months
          option(value='1') 1 Month
      //DO NOT Change the order of these without changing the js. For them to work, they need to be in this specific order
      .leaderboardContainer.leaderboardCategory.column8
        ul
          li(onclick= `pageChange(0)`).pageButton.exhaustedButton First
          li(onclick= `pageChange(lastPage)`).pageButton Last 
        ul
          li(onclick= `pageChange(pageNumber - 1)`).pageButton.exhaustedButton Previous
          li(onclick= `pageChange(pageNumber + 1)`).pageButton Next

    .mainLeaderboardContainer.leaderboardBorder
      .leaderboardContainer.column1
        .leaderboardItem
          ul Rank
            li#leaderboardRank
      .leaderboardContainer.column4
        .leaderboardItem
          ul#spawnPlayer Player
            li#leaderboardPlayer
      .leaderboardContainer.column2
        .leaderboardItem
          ul Rating
            li#leaderboardRating
      .leaderboardContainer.column2
        .leaderboardItem
          ul Win Rate
            li#leaderboardWon
      .leaderboardContainer.column3
        .leaderboardItem
          ul Total Games
            li#leaderboardGamesAmount
    .mainLeaderboardContainer
      .leaderboardContainer.leaderboardCategory.column12
        ul
          li(onclick= `pageChange(0)`).pageButton.exhaustedButton First
          li(onclick= `pageChange(lastPage)`).pageButton Last 
        ul
          li(onclick= `pageChange(pageNumber - 1)`).pageButton.exhaustedButton Previous 
          li(onclick= `pageChange(pageNumber + 1)`).pageButton Next

block js

  script( src="../../js/app/leaderboards.js")
  
