extends competitive_nav

block cContent

  br
  
  h2.text-center #{ratingType} Leaderboards
  
  br
  
  .row
    .col-md-2
    .col-md-8
      .input-group
        input(type="text" class="form-control" placeholder="Player name...")#searchbar
        span.input-group-btn
          button(class="btn btn-default" type="button" onclick="search()" id="search-button") Search
    .col-md-2
  
  br
  br

  canvas.stats
  
  .row
    .col-md-2.text-left
      button(class="btn btn-primary" onclick="prevPage()") Previous
    .col-md-8
    .col-md-2.text-right
      button(class="btn btn-primary" onclick="nextPage()") Next
  
  table.table.table-striped.table-hover
    thead
      tr
        th #
        th Player
        th Rating
        th Games
        th Stats
    tbody#players
    
  .row
    .col-md-2.text-left
      button(class="btn btn-primary" onclick="prevPage()") Previous
    .col-md-8
    .col-md-2.text-right
      button(class="btn btn-primary" onclick="nextPage()") Next
      
  br

block js
  script(type='text/javascript').
    var apiURL = !{JSON.stringify(apiURL)}
    var ratingType = !{JSON.stringify(cSection)}
  script(src="/js/leaderboards.min.js")
