extends ../layouts/default
block bannerData
  - var bannerImage = "leaderboards"
  - var bannerFirstTitle = "FAF LEADERBOARDS"
  - var bannerSecondTitle = "LOOK AT THE TOP PLAYERS*"
  - var bannerSubTitle = "*OF THE LAST MONTH, NEXUS NOT INCLUDED"
block content

  .mainLeaderboardContainer
    .leaderboardContainer.column12
     .responsiveTextTitle 1v1
    .leaderboardContainer.column1
      .leaderboardItem
        ul.responsiveText Rank
          li#1v1Rank
    .leaderboardContainer.column2
      .leaderboardItem
        ul.responsiveText Player
          li#1v1Player
    .leaderboardContainer.column2
      .leaderboardItem
        ul.responsiveText Rating
          li#1v1Rating
    .leaderboardContainer.column2
      .leaderboardItem
        ul.responsiveText Win Rate
          li#1v1Won
    .leaderboardContainer.column2
      .leaderboardItem
        ul.responsiveText Total Games
          li#1v1GamesAmount
    .leaderboardContainer.column1
      .leaderboardItem
        ul.responsiveText Faction Pick
          li.responsiveText Cybran
          
    
block js
  script(type='module' src="../../js/app/leaderboards.js")
