extends ../layouts/default
block bannerMixin

block content
  script(type='module' src="../../js/app/leaderboards.js")
  .leaderboardBackground
    .mainLeaderboardContainer
      .leaderboardContainer.column12.centerYourself
        
        .responsiveText Search for a player in the selected leaderboard
          #errorLog
        
        input#input(onkeyup=`pressEnter(event)` type='text' placeholder='Player Name')
        
        #searchbar
          .searchBar
            ul
              #placeMe
        ul#clearSearch.clearButton.appearWhenSearching
          li.fas.fa-trash-alt
      
        
    .mainLeaderboardContainer.leaderboardBorder#searchResults.appearWhenSearching
      .leaderboardContainer.column1
        .leaderboardItem
          ul.responsiveText Rank
            li#oneRankSearch 
      .leaderboardContainer.column3
        .leaderboardItem
          ul.responsiveText Player
            li#onePlayerSearch 
    
      .leaderboardContainer.column3
        .leaderboardItem
          ul.responsiveText Rating
            li#oneRatingSearch 
      .leaderboardContainer.column2
        .leaderboardItem
          ul.responsiveText Win Rate
            li#oneWonSearch 
      .leaderboardContainer.column3
        .leaderboardItem
          ul.responsiveText Total Games
            li#oneGamesAmountSearch
    .mainLeaderboardContainer

      .leaderboardContainer.leaderboardCategory.column4
        select.leaderboardFilter(onchange='changeLeaderboard(this.value)')
          option(value='1v1') 1v1
          option(value='2v2') 2v2
          option(value='4v4') 4v4
        select.leaderboardFilter(onchange='timeCheck(this.value)')
          option(value='6') 6 Months
          option(value='3') 3 Months
          option(value='1') 1 Month
          
      .leaderboardContainer.leaderboardCategory.column4
        ul
          li(onclick= `pageChange(0)`).pageButton.exhaustedButton First
          li(onclick= `pageChange(lastPage)`).pageButton Last 
      .leaderboardContainer.leaderboardCategory.column4
        ul
          li(onclick= `pageChange(pageNumber + 1)`).pageButton Next
          li(onclick= `pageChange(pageNumber - 1)`).pageButton.exhaustedButton Previous 
          
      
    .mainLeaderboardContainer.leaderboardBorder
      .leaderboardContainer.column1
        .leaderboardItem.rotateMe180
          ul.responsiveText Rank
            li#oneRank
      .leaderboardContainer.column3
        .leaderboardItem.rotateMe180
          ul.responsiveText#spawnPlayer Player
            li#onePlayer
            
      .leaderboardContainer.column3
        .leaderboardItem.rotateMe180
          ul.responsiveText Rating
            li#oneRating
      .leaderboardContainer.column2
        .leaderboardItem.rotateMe180
          ul.responsiveText Win Rate
            li#oneWon
      .leaderboardContainer.column3
        .leaderboardItem.rotateMe180
          ul.responsiveText Total Games
            li#oneGamesAmount
    .mainLeaderboardContainer
      .leaderboardContainer.leaderboardCategory.column6
        ul
          li(onclick= `pageChange(0)`).pageButton.exhaustedButton First
          li(onclick= `pageChange(lastPage)`).pageButton Last 
      .leaderboardContainer.leaderboardCategory.column6
        ul
          li(onclick= `pageChange(pageNumber + 1)`).pageButton Next
          li(onclick= `pageChange(pageNumber - 1)`).pageButton.exhaustedButton Previous 

          
    
block js

  script( src="../../js/app/leaderboards.js" )
  
