extends ../layouts/default

block content
    .container.text-center
        .row
            .col-md-12
            h1 Forged Alliance Forever Live Streams
            h4 The Forged Alliance Forever live streams include all current live streams from Twitch.tv
            hr
        .row
            .col-md-12
                iframe(src="https://player.twitch.tv/?channel=FAFLive&parent=faforever.com", width="100%" height="720px")
