extends ../layouts/default
block bannerMixin
  
block content
  #articleStart
    .articleTopTitle.column12
      h2 Recent
      h1.highlightText News
    #articleMain.column12


block js
  script( src="../../js/app/news.js")
