doctype html
html(lang='en')
  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="FAF Community Website")

    title= title || 'Forged Alliance Forever'
    link(rel="shortcut icon", href="/images/favicon-package/favicon.ico", type="image/png")

    // Fonts
    link(href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css2?family=Electrolize&display=swap' rel='stylesheet')

    link(href='https://fonts.googleapis.com/css2?family=Electrolize&family=Russo+One&display=swap' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Orbitron&display=swap')

    //- Customise the stylesheet for your site by editing /public/styles/site.sass
    link(href="/styles/css/site.min.css?version="+Date.now(), rel="stylesheet")
    script(async, defer, data-domain="faforever.com", src="https://plausible.faforever.com/js/plausible.js")
    script(src="https://kit.fontawesome.com/33e7e258d3.js" crossorigin='anonymous')
body


  .clientBackground
    .clientMainFeature
      .featureSubGrid.column1.featureLink
        .featureSocial.column12
          .featureLink.featureDiscord.column12
            a(target='_blank' href='https://discord.gg/mXahVSKGVb')
              img(src='/../../images/logos/discord.svg' alt='')
          .featureLink.featureTwitch.column12
            a(target='_blank' href='https://www.twitch.tv/directory/game/Supreme%20Commander%3A%20Forged%20Alliance')
              img(src='/../../images/logos/twitch.png' alt='')
          .featureLink.featureYoutube.column12
            a(target='_blank' href='https://www.youtube.com/channel/UChiCO27pbaXDR0d0JfxlIpw')
              img(src='/../../images/logos/youtube.png' alt='')



    #clientMain
      #clientSpawn

        .clientContainer.column1
          a(target='_blank' href='https://forms.gle/yCTimUxqRbmYhvKc9')
            .clientNewsRequest

              h1.column12 Request a News Post

      #clientArrowLeft
        .fas.fa-chevron-left
      #clientArrowRigth
        .fas.fa-chevron-right
    .clientMenu
      .clientMenuContainer.column2
        ul NEW PLAYERS
        a(target='_blank' href='https://www.youtube.com/channel/UChiCO27pbaXDR0d0JfxlIpw') FAQ
        a(target='_blank' href='https://www.youtube.com/channel/UChiCO27pbaXDR0d0JfxlIpw') First Time in FAF
        a(target='_blank' href='https://www.youtube.com/channel/UChiCO27pbaXDR0d0JfxlIpw') Community Guides
      .clientMenuContainer.column2
        ul COMMUNITY
        a(target='_blank' href='https://www.youtube.com/channel/UChiCO27pbaXDR0d0JfxlIpw') Forums
        a(target='_blank' href='https://www.youtube.com/channel/UChiCO27pbaXDR0d0JfxlIpw') Player Statistics
        a(target='_blank' href='https://www.youtube.com/channel/UChiCO27pbaXDR0d0JfxlIpw') Player Guidelines
      .clientMenuContainer.column2
        ul DEVELOPMENT
        a(target='_blank' href='https://www.youtube.com/channel/UChiCO27pbaXDR0d0JfxlIpw') Github
        a(target='_blank' href='https://www.youtube.com/channel/UChiCO27pbaXDR0d0JfxlIpw') Contribute
        a(target='_blank' href='https://www.youtube.com/channel/UChiCO27pbaXDR0d0JfxlIpw') Vault RUles
      .clientMenuSubgrid.column6
        .clientSupportFAF.column12
          a(target='_blank' href='https://www.patreon.com/faf')
            h1 SUPPORT FAF
              img(src='/../../images/logos/patreon.png' alt='')
        .column12
          // TODO Jip needs to make a link or find one for the report a bug button
          a(target='_blank' href='https://discord.com/channels/197033481883222026/907037442832482315')
            h2 Report a Bug

  //.splatForgedBorder
    .movingBackground1
    .movingBackground2



script(src="../../js/app/newshub.js")

