extends ../layouts/default

block bannerMixin

block content
  .playMain
    
    h1 Play the best RTS out there 
    h2.highlightText Join hundreds of players on the battlefield

    
    
    br

    .playInnerGrid
      .playContainer
        h1 Before installing FAF
        p Doing these now will ensure an easy installation later and avoid issues.
        
        input(type='checkbox')
        label Created a FAF account
        br
        a(href='/account/register' target='_blank')
          button Register
        

        br
        input(type='checkbox') 
        label Bought and installed Supreme Commander:Forged Alliance (SC:FA) via Steam or GOG.
        br
        a(href='https://store.steampowered.com/app/9420/Supreme_Commander_Forged_Alliance' target='_blank')
          button Buy on Steam
        a(href='https://www.gog.com/en/game/supreme_commander_gold_edition' target='_blank')
          button Buy on GOG
        
        br
        input(type='checkbox')
        label Run SC:FA locally once to create a profile in it (game generates necessary files doing so)
        
        br
        input(type='checkbox')
        label Linked Steam or GOG account to your FAF account.
        br
        a(href='/account/linkSteam' target='_blank')
          button Link Steam Account
        a(href='/account/linkGog' target='_blank')
          button Link GOG Account
        h2 Why do I need to link my Steam/GOG account to FAF?
          p FAF as an organization doesn't own the copyright or trademark to SC:FA (Square Enix does). <br> Therefore, we need to verify you own a copy of SC:FA to protect ourselves from legal repercussions.
      
      h2.highlightText Checked everything above?
      h2.highlightText Then follow these easy steps to play FAF
      
        

  
      .playContainer
        h1 1 - Download and install FAF 
        p Download the FAF Client and install it. FAF is open source and 100% safe. <br> If your Windows computer stops you from running FAF, click on "More info" and you'll be able to run it. <br> If you have any issues or troubleshooting, join our Discord or use our forum for help.
        a(href=fafClientDownloadLink)
          button Download FAF
        br
        br
        a(href='https://discord.gg/mXahVSKGVb')
          button Discord
        a(href='https://forum.faforever.com/')
          button Forum
        a(href='https://wiki.faforever.com/en/Linux-Install')
          button Instructions for Linux
  
      .playContainer
        h1 2 - Run FAF and find your SC:FA directory
        p Run FAF and log in with the same credentials you used for you FAF account. <br> Now once you try joining a lobby or matchmaking queue in the Play tab, FAF will ask for your SC:FA game directory. <br> If you installed it in steam, it should be in your steamapps/common folder. If installed in GOG, it should be a /GOG folder.
      
      .playContainer
        h1 3 - Enjoy Forged Alliance Forever!
        p You are officially done! If you are new to the game, we recommend <br> watching the video below and joining the official FAF Discord, <br> you'll find plenty of friendly people to play, ask questions and become part of the community!
        
        a(href='https://discord.gg/kTsxKu52WU')
          button Join the FAF Discord
        br
        br
        embed(style="width:75%; height:40vh;" src="https://www.youtube.com/embed/Nks9loE96ok" title="NEW TO FAF? || SUPREME COMMANDER TUTORIAL" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"  allowfullscreen )
