extends ../layouts/default

block bannerData
  - var bannerImage = "Play"
  - var bannerFirstTitle = "Play, Concore, Destory"
  - var bannerSecondTitle = "Join the FAForever Community"
  - var bannerSubTitle = "Placeholder text"

block content
  .playContainer
    .playInfo.column12
      h1 Play on FAF
      h2.highlightText Join other Commanders on the battlefiled
      p should work on 
      img(src='/images/linux-icon.svg' alt='Linux Logo')
      img(src='/images/windows-icon.svg' alt='Linux Logo')
      br
      br
      br
      br
      h2 Owning The game
      p Before being able to use FAForever Client you need to own the Game via Steam or GOG. <br> This is due to Needing to link your steam or gog accout to verify that your own the game.<br> If you dont own the game you can use one of the following links.
      br
      a(href='https://store.steampowered.com/app/9420/Supreme_Commander_Forged_Alliance')
        button Steam
      a(href='https://www.gog.com/en/game/supreme_commander_gold_edition')
        button GOG
    .playPrep
      h1 Prep before client install
      p Before we get started make sure that you have doen thise thing first befoer installing the client.
      li Installed the Game Via Steam or GOG.
      li Create a FAF Account and Linked it to the platfrom where you owned the game.
    .playStep1
      h1 1. Downloding the Client
      p <b>First</b> we need to download the client installer.
      a(href=fafClientDownloadLink)
        button <img src='/images/windows-icon.svg'> Download <b>Windows</b> Installer
