extends ../layouts/default

block bannerData
  - var bannerImage = "Play"
  - var bannerFirstTitle = "Play, Conquer, Destroy"
  - var bannerSubTitle = "Join the FAForever Community Today!"

block content
  .playContainer
    .playInfo.column12
      h1 Play on FAF
      h2.highlightText Join other Commanders on the battlefield
      p should work on 
      img(src='/images/logos/linux-icon.svg' alt='Linux Logo')
      img(src='/images/logos/windows-icon.svg' alt='Windows Logo')
      br 
      br
      h2 Owning The game
      p Before being able to use FAForever Client you need to own the Game via Steam or GOG. <br> This is due to Needing to link your steam or gog account to verify that your own the game.<br> If you dont own the game you can use one of the following links.
      br
      a(href='https://store.steampowered.com/app/9420/Supreme_Commander_Forged_Alliance')
        button Steam
      a(href='https://www.gog.com/en/game/supreme_commander_gold_edition')
        button GOG

    .playPrep
      h1 Prep before client install
      p Before we get started make sure that you have complete a few things first before installing the client.
      li Installed the Game Via Steam or GOG.
      li Create a FAF Account and Linked it to the platform where you owned the game.

    .playStep1
      h1 1. Downloding the Client
      p <b>First</b> we need to download the client installer.
      a(href=fafClientDownloadLink)
        button <img src='/images/logos/windows-icon.svg'> Download <strong>Windows</strong> Installer
      //a(href=#)
        button <img src='/images/logos/windows-icon.svg'> Download <strong>Linux</strong> Installer

    .playStep2
      h1 2. Running the installer
      p
    
    .playStep3
      h1 3. login to the client
      p
      
    .playStep4
      h1 4. Playing First game
      p
      
    .playStep5
      h1 Optional. Downloading Maps & Mods
      p
           
    .playDiscord
      img(src='/images/logos/discord.svg')
      h2 We highly recommend that you join out Discord
      br
      a(href='https://discord.gg/kTsxKu52WU')
        button Join the FAF Discord Community
      br
      br
      p The discord is the best place to get all the information you need.
      p to keep updated with development of the project follow #X and #Y
      
      embed(width="852" height="480" src="https://www.youtube.com/embed/Nks9loE96ok" title="NEW TO FAF? || SUPREME COMMANDER TUTORIAL" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
