extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			br
			p: a(href='/news') &larr; back to news
			hr
			if !data.post
				h2 Invalid Post.
			else
				header
					h1!= data.post.title.rendered
					h5 Posted 
						if data.post.date
							| on #{moment(data.post.date).format("MMMM Do YYYY")}
						if data.post.categories && data.post.categories.length
							| &nbsp;in&nbsp;
							each type, type_index in data.post._embedded["wp:term"]
								if type
									each taxonomy, index in type
										a.primary-color(href='/news/1/page/' + taxonomy.name + '/' + taxonomy.taxonomy) #{taxonomy.name}
										if index < type.length -1
											| ,&nbsp;
								if type_index < data.post._embedded["wp:term"].length - 1 && data.post._embedded["wp:term"][1].length > 1
									| ,&nbsp;
						if data.post.author
							|  by&nbsp;
							a.primary-color(href='/news/1/page/' + data.post._embedded.author[0].name + '/author') #{data.post._embedded.author[0].name}
				.post
					!= data.post.content.rendered
