extends ../layouts/default
block bannerData
  - var bannerImage = "scfa"
  - var bannerFirstTitle = "CONTINUING THE DEVELOPMENT"
  - var bannerSecondTitle = "OF SC:FA, FOREVER"
  - var bannerSubTitle = "MAINTAINING THE BEST FEATURES AND REMOVING THE WORST"
block content

