extends competitive_nav
block bannerData
  - var bannerImage = "tournament"
  - var bannerFirstTitle = "WHERE THE BEST PLAYERS"
  - var bannerSecondTitle = "BEAT EACH OTHER"
  - var bannerSubTitle = "LET'S SEE WHO'S THE BEST"
    
block content

block js
  script(src="../../js/app/tournaments.js")
