extends ../layouts/default
block bannerData
  - var bannerImage = "tutorial"
  - var bannerFirstTitle = "TIPS AND TRICKS TO"
  - var bannerSecondTitle = "SURPASS YOUR OPPONENTS"
  - var bannerSubTitle = "THEY'LL NEVER KNOW WHAT HIT THEM"
block content
  .descriptionMain
    .descriptionContainer
      h2 Learn the Basics
        p Albeit FAF isn't a very demanding game when it comes to inputs like a fighting game for example, it does require to know some basic fundamentals. However, besides having written guides and video tutorials to learn, FAF also has contributors whose whole mission is training new players.
  .tutorialMain
    .tutorialTop.column6
      h2 Video Guides
    .tutorialTop.column6
      h2 Written Guides
    .tutorialContainer.column6
      a(href='https://youtu.be/Nks9loE96ok' target='_blank')
        h1 FAF Basics
    .tutorialContainer.column6
      a(href='https://docs.google.com/document/d/13S4nBDfcBK4WmFtykXGKNmvIPe9L2nbiriISpHNgE4U/edit' target='_blank')
        h1 Core Fundamentals
    .tutorialContainer.column6
      a(href='https://www.youtube.com/watch?v=U-rD4fpdmNk' target='_blank')
        h1 Basic Build Orders
    .tutorialContainer.column6
      a(href='https://forum.faforever.com/topic/1222/how-to-improve-forever-6-laws?_=1625166213365' target='_blank')
        h1 Blackheart's 6 Laws
    .tutorialContainer.column6
      a(href='https://www.youtube.com/watch?v=eHNmuVf9IvE' target='_blank')
        h1 How to Manage Eco
    .tutorialContainer.column6
      a(href='https://forum.faforever.com/topic/766/ladder-1v1-beginner-intermediate-and-advanced-topics-by-arma473' target='_blank')
        h1 1v1 Guide
    .tutorialContainer.column12
      a(href='https://wiki.faforever.com/en/Play/Learning/Learning-SupCom' target='_blank')
        h1 ALL FAF GUIDES
        
  .descriptionMain
    .descriptionContainer
      h2 Get a Personal Trainer
        p If you're confused, or stuck in a rut, or you want help from others, you could benefit from some trainers' advice. Through replay analysis, most trainers will be able to find your issues and give you personal advice on how to improve. Trainers are on the FAF official discord and offer help in the #gameplay-and-training channel. The button below will send you there!
          br
          a(href='https://discord.com/channels/197033481883222026/408556023180296193' target='_blank')
            button #gameplay-and-training
          


    //https://docs.google.com/document/d/13S4nBDfcBK4WmFtykXGKNmvIPe9L2nbiriISpHNgE4U/edit

block js

