extends ../layouts/default
block bannerData
  - var bannerImage = "tutorial"
  - var bannerFirstTitle = "TIPS AND TRICKS TO "
  - var bannerSecondTitle = "SURPASS YOUR OPPONENTS"
  - var bannerSubTitle = "THEY'LL NEVER KNOW WHAT HIT THEM"
block content

  
  

block js

