{
    "root": true,
    "extends": ["standard","plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "rules": {
        "indent": ["error", 4],
        "prettier/prettier": "error"
    }
}
