mixin flash-messages(messages)
  if flash
    div.alert(class=flash['class'])
        if flash.messages
          p <strong>#{flash.type}</strong> #{flash['messages']}
        if flash.hasHTML
          #{flash.hasHTML}
          

