mixin flash-messages(messages)
  if flash
    div.alert(class=flash['class'])
      ul.flash-errors
        if flash.messages
          - for (var i = 0; i < flash.messages.length; i++)
          li <strong>#{flash.type}</strong> !{flash.messages[i].msg}
                        
