mixin flash-messages(messages)
  if flash
    div.alert(class=flash['class'])
      ul.flash-errors
        if flash.messages
          if flash.messages[0].msg 
            li <strong>#{flash.type}</strong> !{flash.messages[0].msg}
