extends ../../layouts/default
include ../../mixins/new-flash-messages
block bannerMixin
block content
    .containerCenter.text-center
        h2 Clan Invitation
        h4 Click the button below to accept the invitation to join the clan #{clanName}.

        +flash-messages(flash)

        form(method='post', action=acceptURL, data-toggle="validator")
            button(type='submit') Join #{clanName}
