extends ../../layouts/default
include ../../mixins/flash-messages
include ../../mixins/form/account

block content
    .container.text-center
        .row
            .col-md-12
                h1.account-title Create a clan
                div
                    p You can create your own clan, and then invite other players to join it.
                    p Be sure to 
                        a(href='/rules') review the rules
                        |  before naming your clan!
                    p Offensive clan names will result in an immediate sanction
                hr
        .row
            .col-md-offset-3.col-md-6
                +flash-messages(flash)

        form(method='post',action="/clans/create",data-toggle="validator")
            input(type='hidden', name="user_id", value=userId)
            .row(style={'display': 'flex', 'flex-direction': 'row', 'justify-content':'space-between'})
                .col-md-4
                    div.form-group
                        label Name:
                        input(type='text', name='clan_name', placeholder='Clan name').form-control
                        span(aria-hidden='true').glyphicon.form-control-feedback
                        
                    div.form-group
                        label Tag:
                        p(style="font-size:2em") [
                            input(type='text', required='required', name='clan_tag', value=offenders_names, placeholder='TAG', style="display:inline;margin-left:5px;margin-right:5px;width:5em;").form-control
                            | ]
                        span(aria-hidden='true').glyphicon.form-control-feedback

                .col-md-4
                    div.form-group
                        label Leader and founder:
                        input(type='text', disabled='disabled', value=username).form-control
                        span(aria-hidden='true').glyphicon.form-control-feedback
                        
                    div.form-group
                        label Creation date:
                        input(type='text', disabled='disabled', value=date).form-control
                        span(aria-hidden='true').glyphicon.form-control-feedback
            .row(style={'display': 'flex', 'flex-direction': 'row', 'justify-content':'space-between'})
                .col-md-8
                    div.form-group
                        label Clan description:
                        textarea(rows='8', name='clan_description', required='required', placeholder='Please provide a short description of your clan, and the kind of players you\'re looking for :)').form-control
                        span(aria-hidden='true').glyphicon.form-control-feedback
                            
                    .form-actions
                        button(type='submit').btn.btn-default.btn-lg.btn-outro.btn-danger Create
