extends ../../layouts/default

block content
    .intro
        div.hero(style="background-image:url('images/spider.jpg');")
        .introtitle
            .hgroup
                h1 Clan management
                h3 Create your own clan with your friends, or join a clan and find people to play with
                a(class="btn btn-default btn-lg btn-outro btn-danger", href='clans/create') Create my clan
                a(class="btn btn-default btn-lg btn-outro", href='clans/browse') Browse clans
    .the-project: .container
        .col-md-3
        .col-md-6
    .container
