doctype html
html

    //- HTML HEADER
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        title= title || 'Forged Alliance Forever'
        link(rel="shortcut icon", href="/images/favicon.png", type="image/png")

        // Fonts
        link(href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css')

        //- Customise the stylesheet for your site by editing /public/styles/site.sass
        link(href="/styles/css/site.min.css", rel="stylesheet")

        //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        //- Safely remove this block if you are not targeting IE8
        //-[if lt IE 9]
            script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
            script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
        //-[endif]

        //- Include template-specific stylesheets by extending the css block
        block css

        //- Add any other template-specific HEAD tags by extending the head block
        block head

    //- HTML BODY
    body
        //- HEADER
        #header: .container-fluid

            //- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
            //- ... or completely change this header to suit your design.
            div(role="navigation").navbar.navbar-default.navbar-fixed-top
                .container
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='/')
                            img(src="/images/faf_32x32.png")
                    .collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-left
                            li: a(href='/news') News
                            li: a(href='/competitive/tournaments') Competitive
                            li.dropdown
                                a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button") Community
                                    span.caret
                                ul.dropdown-menu
                                    li: a(href="http://forums.faforever.com/") Forums
                                    li: a(href="http://clans.faforever.com/") Clans
                                    li: a(href="http://wiki.faforever.com/index.php?title=Voicechat_%28Mumble%29") Mumble
                            li.dropdown
                                a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button") Documentation
                                    span.caret
                                ul.dropdown-menu(role="menu")
                                    li: a(href="http://wiki.faforever.com/index.php?title=Main_Page") Wiki
                                    li: a(href="http://www.faforever.com/faf/unitsDB/") Unit Database
                            li.dropdown
                                a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button") Account
                                    span.caret
                                ul.dropdown-menu(role="menu")
                                    li: a(href="/account/register") Register
                                    li: a(href="/account/password/reset") Reset/Forgot Password
                                    li: a(href="/account/password/change") Change Password
                                    li: a(href="/account/username/change") Change Username
                                    li: a(href="/account/email/change") Change Email
                                    li: a(href="/account/link") Link Account to Steam
                            li: a(href='/calendar') Calendar
                            li: a(href='/contribution') Contribute
                        ul.nav.navbar-nav.navbar-right
                            li: a(href='/client' id="btn-dl-nav") Download Client
                            if !username
                                li: a(href='/login') Log In
                            else
                                li: a(href='/logout') Log Out
        //- BODY
        #body

            //- NOTE:
            //- There is no .container wrapping class around body blocks to allow more flexibility in design.
            //- Remember to include it in your templates when you override the intro and content blocks!

            //- The Intro block appears above flash messages (used for temporary information display)
            block intro

            //- The content block should contain the body of your template's content
            block content


        //- FOOTER
        #footer: .container
            .col-md-4: .text-center
                h3 Donate
                <form class="donation-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_donations">
                <input type="hidden" name="business" value="visionik@pobox.com">
                <input type="hidden" name="lc" value="US">
                <input type="hidden" name="item_name" value="FAForever">
                <input type="hidden" name="no_note" value="0">
                <input type="hidden" name="currency_code" value="EUR">
                <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            .col-md-4: .text-center
                img.h1(src="/images/vector_faf_logo.png")
            .col-md-4: .text-center
                h3 Connect
                div#social
                    ul
                        li: a(href="https://www.facebook.com/ForgedAllianceForever" title="Follow FAForever on Facebook" target="_blank")
                            i.fa.fa-facebook.fa-3x
                        li: a(href="https://www.youtube.com/channel/UCkAWiUu4QE172kv-ZuyR42w" title="Follow FAForever on YouTube" target="_blank")
                            i.fa.fa-youtube.fa-3x
                        li: a(href="https://github.com/FAForever/" title="Follow FAForever on GitHub" target="_blank")
                            i.fa.fa-github.fa-3x


        //- JAVASCRIPT

        //- jQuery 1.11.3 is included by default, and required by both Bootstrap
        //- and the KeystoneJS Content Editor. If you are not targeting IE8,
        //- you can upgrade to 2.1.4 (also bundled) for better performance.
        //- Customise which Bootstrap javascript files are served by including
        //- them specifically here, instead of bootstrap-3.3.5.min.js
        script(src='/js/bottom.min.js')

        //- Add scripts that are globally required by your site here.

        //- Include template-specific javascript files by extending the js block
        block js
