doctype html
html(lang='en')
  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="FAF Community Website")

    title= title || 'Forged Alliance Forever'
    link(rel="shortcut icon", href="/images/favicon.png", type="image/png")

    // Fonts
    link(href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css2?family=Electrolize&family=Russo+One&display=swap' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Orbitron&display=swap')

    //- Customise the stylesheet for your site by editing /public/styles/site.sass
    link(href="/styles/css/site.min.css?version="+Date.now(), rel="stylesheet")
    script(async, defer, data-domain="faforever.com", src="https://plausible.faforever.com/js/plausible.js")


    //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- Safely remove this block if you are not targeting IE8
    //-[if lt IE 9]
      script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
      script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
    //-[endif]

    //- Include template-specific stylesheets by extending the css block
    block css

    //- Add any other template-specific HEAD tags by extending the head block
    block head

  //- HTML BODY
  body
    .main_topnav_container
      .topnav_container
        a.topnav_item.topnav_hover(href='https://forum.faforever.com/' target='_blank')  Forums
      .topnav_container
        a.topnav_item.topnav_hover(href='https://www.patreon.com/faf' target='_blank')  Support FAF
      .topnav_container
        a.topnav_item.topnav_hover(href='https://wiki.faforever.com/en/home' target='_blank')  Official Wiki
      .topnav_container
        a(href='https://discord.gg/mXahVSKGVb' target='_blank')
          .fab.fa-discord.fa-lg
      .topnav_container
        a(href='https://www.youtube.com/c/ForgedAllianceForever' target='_blank')
          .fab.fa-youtube.fa-lg
      .topnav_container
        a(href='https://www.twitch.tv/faflive' target='_blank')
          .fab.fa-twitch.fa-lg
      .topnav_container
        a(href='https://github.com/FAForever' target='_blank')
          .fab.fa-github.fa-lg
    // Main Navbar
    .main_nav_container
      .nav_container
        .nav_item
          .nav_image
            a(href='index.html')
              img(src='/images/faflogo.svg' alt='')
      .nav_container
        ul.nav_item
          a(href='newshub.html' target='_blank')
            li.nav_list
              | FAF NEWS
              ul.nav_absolute
          li.nav_list
            | GAME
            .fas.fa-caret-down
            ul.nav_absolute
              a(href='' target='_blank')
                a(href='SCFA-VS-FAF.html' target='_blank')
                  li SC:FA vs FAF
                a(href='tutorials-guides.html' target='_blank')
                  li Tutorials/Guides
                a(href='https://kazbek.github.io/FAF-Analytics/' target='_blank')
                  li Player Statistics
                a(href='ai.html' target='_blank')
                  li Advanced AIs
                a(href='https://unitdb.faforever.com/' target='_blank')
                  li Unit Database
          li.nav_list
            | COMMUNITY
            .fas.fa-caret-down
            ul.nav_absolute
              a(href='' target='_blank')
                a(href='streamers-and-casters.html' target='_blank')
                  li Streamers and Casters

                a(href='contributors-and-developers.html' target='_blank')
                  li  Contributors and Developers

                a(href='volunteer-positions.html' target='_blank')
                  li Volunteer Positions

          li.nav_list
            | COMPETITIVE
            .fas.fa-caret-down
            ul.nav_absolute
              a(href='tournaments.html' target='_blank')
                li Tournaments

              a(href='trainers.html' target='_blank')
                li Trainers

              a(href='league.html' target='_blank')
                li League

              a(href='leaderboards.html' target='_blank')
                li Leaderboards

      .nav_container.nav_end
        a(href='indextrue.html' target='_blank')
          .nav_item LOGIN
      .nav_container.nav_end.nav_download
        a(href='https://www.faforever.com/client')
          .nav_link DOWNLOAD 
    // the mobilenav is the mobile navbar, it has two stickies, one of them is the sticky for the mobile menu (so it stays with the user) and the second one is the black backgroud (so when the user opens the mobile menu, everything else darkens.)
    #mobilenav_bg_sticky
      #mobilenav_bg
    .mobilenav_sticky
      .main_mobilenav_container
        #mobilenav_bars
          .mobilenav_bar1
          .mobilenav_bar2
          .mobilenav_bar3
        .mobilenav_mobile
          .mobilenav_container
            // This login class is done just to takeout padding from Login
            .mobilenav_login LOGIN
          .mobilenav_container
            .mobilenav_item
              | GAME
              .fas.fa-caret-down
              ul.mobilenav_ul
                li.mobilenav_list
                  a(href='')  Tutorials/Guides
                li.mobilenav_list
                  a(href='')  SC:FA vs FAF 
                li.mobilenav_list
                  a(href='')  Player Statistics
                li.mobilenav_list
                  a(href='')  Unit Database
          .mobilenav_container
            .mobilenav_item
              | COMMUNITY
              .fas.fa-caret-down
              ul.mobilenav_ul
                li.mobilenav_list
                  a(href='')  News
                li.mobilenav_list
                  a(href='' target='_blank')  Forums
                li.mobilenav_list
                  a(href='')  Streamers and Casters
                li.mobilenav_list
                  a(href='')  Contributors and Developers
          .mobilenav_container
            .mobilenav_item
              | COMPETITIVE
              .fas.fa-caret-down
              ul.mobilenav_ul
                li.mobilenav_list
                  a(href='')  Tournaments
                li.mobilenav_list
                  a(href='')  Trainers
                li.mobilenav_list
                  a(href='')  League
                li.mobilenav_list
                  a(href='')  Leaderboards 
          .mobilenav_container
            .mobilenav_item
              | CONTRIBUTE
              .fas.fa-caret-down
              ul.mobilenav_ul
                li.mobilenav_list
                  a(href='') Donations
                li.mobilenav_list
                  a(href='')  Volunteer Positions
          .mobilenav_container
            .mobilenav_social
              ul
                li
                  a(href='https://discord.gg/mXahVSKGVb' target='_blank')
                    .fab.fa-discord.fa-lg
                li
                  a(href='https://www.twitch.tv/faflive' target='_blank')
                    .fab.fa-twitch.fa-lg
                li
                  a(href='https://www.youtube.com/c/ForgedAllianceForever' target='_blank')
                    .fab.fa-youtube.fa-lg
                li
                  a(href='https://github.com/FAForever' target='_blank')
                    .fab.fa-github.fa-lg
      // A splat is those bars between tthe banners (those shattered particles)

    .splat_main_container.emptyBlackGreyPadding
      .splat_container
        .splat_rotate
          img(src='/images/splat.png' alt='')
          //- NOTE:
          //- There is no .container wrapping class around body blocks to allow more flexibility in design.
          //- Remember to include it in your templates when you override the intro and content blocks!

          //- The Intro block appears above flash messages (used for temporary information display)
    block intro

        //- The content block should contain the body of your template's content
    block content

    .mainFooterContainer
      .footerContainer
        .footerItem
          img(src='/images/faflogo.svg' alt='')
      .footerContainer
        .footerItem
          ul NAV  
            a(href='https://github.com/FAForever' target='_blank')
              li HOME
            a(href='https://github.com/FAForever' target='_blank')
              li FAF NEWS 
            a(href='https://github.com/FAForever' target='_blank')
              li GAME   
            a(href='https://github.com/FAForever' target='_blank')
              li COMMUNITY
            a(href='https://github.com/FAForever' target='_blank')
              li COMPETITIVE
      .footerContainer
        .footerItem
          ul CONTRIBUTE  
            a(href='https://github.com/FAForever' target='_blank')
              li DONATIONS
            a(href='https://github.com/FAForever' target='_blank')
              li VOLUNTEER POSITIONS

      .footerContainer
        .footerItem
          ul LEGAL
            a(href='https://github.com/FAForever' target='_blank')
              li TERMS OF SERVICE
            a(href='https://github.com/FAForever' target='_blank')
              li PRIVACY STATEMENT          
            a(href='https://github.com/FAForever' target='_blank')
              li FAF ASSOCIATION

      .footerContainer
        .footerItem
          ul CONTACT US
            a(href='https://github.com/FAForever' target='_blank')
              li DISCORD

            a(href='https://github.com/FAForever' target='_blank')
              li ASSOCIATION  


      //- JAVASCRIPT

      //- jQuery 1.11.3 is included by default, and required by both Bootstrap
      //- and the KeystoneJS Content Editor. If you are not targeting IE8,
      //- you can upgrade to 2.1.4 (also bundled) for better performance.
      //- Customise which Bootstrap javascript files are served by including
      //- them specifically here, instead of bootstrap-3.3.5.min.js
      script(src='/js/bottom.min.js')

      //- Add scripts that are globally required by your site here.
      script(src="../../js/app/index.js")
      //- Include template-specific javascript files by extending the js block
      block js
