doctype html
html
  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title= title || 'Forged Alliance Forever'
    link(rel="shortcut icon", href="/images/favicon.png", type="image/png")

    // Fonts
    link(href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css')

    //- Customise the stylesheet for your site by editing /public/styles/site.sass
    link(href="/styles/css/site.min.css?version="+Date.now(), rel="stylesheet")

    //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- Safely remove this block if you are not targeting IE8
    //-[if lt IE 9]
      script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
      script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
    //-[endif]

    //- Include template-specific stylesheets by extending the css block
    block css

    //- Add any other template-specific HEAD tags by extending the head block
    block head

  //- HTML BODY
  body
    .body-overlay
    if !removeNavigation
      section.navigation-wrapper#header
        .top-navigation-wrapper
          nav.top-navigation
            ul.top-navigation
              li: a(href="https://forums.faforever.com/") Forums
              li: a(href="https://wiki.faforever.com/index.php?title=Main_Page") Wiki
              li: a(href="https://unitdb.faforever.com/") Unit Database
              li: a(href="https://discord.gg/hgvj6Af") Discord
              li: a(href="/livestream") Live Streams
              li: a.icon(href="https://www.youtube.com/c/ForgedAllianceForever")
                i.fab.fa-youtube
              li: a.icon(href="https://www.facebook.com/ForgedAllianceForever")
                i.fab.fa-facebook-f
              li: a.icon(href="https://github.com/FAForever/")
                i.fab.fa-github
              li: a.icon(href="https://twitter.com/falliancef")
                i.fab.fa-twitter
              li
                form.nav-support-us(action='https://www.patreon.com/faf', method='get', target='_top')
                  button(type='submit', name='submit')
                    i.fab.fa-patreon(aria-hidden='true')
                    span Support us
        .main-navigation-wrapper
          nav.main-navigation
            a(href="/", class="nav-logo")
              img(src="/images/faf-logo.png")
            ul.main-navigation
              li.mobile-nav-logo-wrapper: a(href="/", class="mobile-nav-logo")
                img(src="/images/faf-logo.png")
              li(class=(section == 'news' ? 'active' : null)): a(href='/news')
                i.fas.fa-rss
                span News
              li(class=(section == 'competitive' ? 'active' : null)): a(href='/competitive/tournaments')
                i.fas.fa-trophy
                span Competitive
              li(class=(section == 'clan' ? 'active' : null)): a(href='/clans')
                i.fas.fa-users
                span Clans
              li(class=(section == 'contribution' ? 'active' : null)): a(href='/contribution')
                i.fas.fa-heart
                span Contribute
              li.close-mobile-nav: button.toggle-nav
                i.fas.fa-times
                span Close menu
            ul.main-navigation-right
              li
                a(href='/client' class='nav-download-client')
                  i.fas.fa-download
                  span Download
              li(class=(section == 'account' ? 'active' : null)).dropdown
                a.dropdown-toggle.nav-account-dropdown(href='#' data-toggle='dropdown' role='button' title=(username ? 'Welcome ' + username : undefined))
                  if username
                    i.fas.fa-user
                      span.login-indicator-success
                  else
                    i.far.fa-user
                      span.login-indicator-false
                  span.caret
                ul.dropdown-menu.nav-account-dropdown-menu.pull-right(role="menu")
                  if username
                    li: span.welcome-text #{username}
                    li: a(href="/account/report") Report player
                    if hasClan
                        li: a(href="/clans/manage") My clan
                    li: a(href="/account/password/change") Change Password
                    li: a(href="/account/username/change") Change Username
                    li: a(href="/account/email/change") Change Email
                    li: a(href="/account/link") Link Account to Steam
                    li: a(href='/logout') Log Out
                  else
                    li: a(href='/login') Log In
                    li: a(href="/account/register") Register
                    li: a(href="/account/password/reset") Reset/Forgot Password
            button.toggle-nav.mobile-hamburger
              i.fas.fa-bars(aria-hidden='true')
    .website
      //- BODY
      #body.content(class=(removeNavigation? 'updatePage':undefined))

          //- NOTE:
          //- There is no .container wrapping class around body blocks to allow more flexibility in design.
          //- Remember to include it in your templates when you override the intro and content blocks!

          //- The Intro block appears above flash messages (used for temporary information display)
          block intro

          //- The content block should contain the body of your template's content
          block content

      #footer.footer-wrapper
        .site-footer
          .footer-top-wrapper
            .footer-top
          .footer-bottom-wrapper
            .footer-bottom
              .footer-links
                ul.footer-links
                  li.footer-support-us-wrapper
                    form.footer-support-us(action='https://www.patreon.com/faf', method='get', target='_top')
                      button(type='submit', name='submit')
                        i.fab.fa-patreon(aria-hidden='true')
                        span Support us
                  li: a(href="https://forums.faforever.com") Forums
                  li: a(href="https://discord.gg/hgvj6Af") Discord
                  li: a(href='/contribution') Contribute
                  li: a(href='/rules') Rules
                  li: a(href='/tos') Terms of Service
                  li: a(href='/privacy') Privacy Statement
              .footer-social
                ul.footer-social
                  li
                    a(href="https://www.facebook.com/ForgedAllianceForever" title="Follow Forged Alliance Forever on Facebook" target="_blank")
                      i.fab.fa-facebook-f
                  li
                    a(href="https://www.youtube.com/c/ForgedAllianceForever" title="Follow Forged Alliance Forever on YouTube" target="_blank")
                      i.fab.fa-youtube
                  li
                    a(href="https://github.com/FAForever/" title="Follow Forged Alliance Forever on GitHub" target="_blank")
                      i.fab.fa-github
                  li
                    a(href="https://twitter.com/falliancef" title="Follow Forged Alliance Forever on Twitter" target="_blank")
                      i.fab.fa-twitter


      //- JAVASCRIPT

      //- jQuery 1.11.3 is included by default, and required by both Bootstrap
      //- and the KeystoneJS Content Editor. If you are not targeting IE8,
      //- you can upgrade to 2.1.4 (also bundled) for better performance.
      //- Customise which Bootstrap javascript files are served by including
      //- them specifically here, instead of bootstrap-3.3.5.min.js
      script(src='/js/bottom.min.js')

      //- Add scripts that are globally required by your site here.

      //- Include template-specific javascript files by extending the js block
      block js
