doctype html
html(lang='en')
  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="FAF Community Website")

    title= title || 'Forged Alliance Forever'
    link(rel="shortcut icon", href="/images/favicon-package/favicon.ico", type="image/png")

    // Fonts
    link(href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css2?family=Electrolize&display=swap' rel='stylesheet')

    link(href='https://fonts.googleapis.com/css2?family=Electrolize&family=Russo+One&display=swap' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Orbitron&display=swap')

    //- Customise the stylesheet for your site by editing /public/styles/site.sass
    link(href="/styles/css/site.min.css?version="+Date.now(), rel="stylesheet")
    script(async, defer, data-domain="faforever.com", src="https://plausible.faforever.com/js/plausible.js")
    script(src="https://kit.fontawesome.com/33e7e258d3.js" crossorigin='anonymous')


    //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- Safely remove this block if you are not targeting IE8
    //-[if lt IE 9]
      script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
      script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
    //-[endif]

    //- Include template-specific stylesheets by extending the css block
    block css

    //- Add any other template-specific HEAD tags by extending the head block
    block head

  //- HTML BODY
  body
    .main_topnav_container
      // this is the "thin" navbar that has forums, discord, youtube icons, etc.  
      .topnav_container
        a.topnav_item.topnav_hover(href='https://forum.faforever.com/')  Forums
      .topnav_container
        a.topnav_item.topnav_hover(href='https://www.patreon.com/faf')  Support FAF
      .topnav_container
        a.topnav_item.topnav_hover(href='https://wiki.faforever.com/en/home')  Official Wiki
      .topnav_container
        a(href='https://discord.gg/mXahVSKGVb')
          .fab.fa-discord.fa-lg
      .topnav_container
        a(href='https://www.youtube.com/c/ForgedAllianceForever')
          .fab.fa-youtube.fa-lg
      .topnav_container
        a(href='https://www.twitch.tv/faflive')
          .fab.fa-twitch.fa-lg
      .topnav_container
        a(href='https://github.com/FAForever')
          .fab.fa-github.fa-lg
      ul.nav_item.topnav_container
        li.topNavList
          .fab.fas.fa-language
            ul.topNavAbsolute
              a(href='?lng=en')
                li English
              a(href='?lng=ru')
                li Pусский
              a(href='?lng=ge')
                li Deutsch
              a(href='?lng=fr')
                li Français
              a(href='?lng=es')
                li Español
    // Main Navbar with FAF NEWS, LOGIN AND DOWNLOAD. 
    .main_nav_container
      .nav_container
        .nav_item
          .nav_image
            a(href='/')
              img(src='/images/faflogo.svg' alt='')
      .nav_container
        ul.nav_item
          a(href='/newshub')
            li.nav_list
              | FAF NEWS
              //this nav_absolute is here for the JS to not open any menus when FAF news is clicked
              ul.nav_absolute
          li.nav_list
            | GAME
            .fas.fa-caret-down
            ul.nav_absolute
              a(href='/tutorials-guides')
                li Tutorials/Guides
              a(href='https://unitdb.faforever.com/' target='_blank')
                li Unit Database
              a(href='/ai')
                li Advanced AIs
              a(href='/scfa-vs-faf')
                li SC:FA vs FAF



          li.nav_list
            | COMMUNITY
            .fas.fa-caret-down
            ul.nav_absolute
          
              a(href='/content-creators')
                li Content Creators

              a(href='/contribution')
                li  Contribute to FAF
              a(href='/donation')
                li  Donate to FAF
              a(href='/faf-teams')
                li FAF Teams
              

          li.nav_list
            | COMPETITIVE
            .fas.fa-caret-down
            ul.nav_absolute
              a(href='/leaderboards')
                li Leaderboards
              a(href='/tournaments')
                li Tournaments

              a(href='/trainers')
                li Trainers

              a(href='/league')
                li League



      .nav_container.nav_end
        a(href='/login')
          .nav_item LOGIN
      .nav_container.nav_end.nav_download
        a(href='https://www.faforever.com/client') PLAY NOW 
    // the mobilenav is the mobile navbar, it has two stickies, one of them is the sticky for the mobile menu (so it stays with the user) and the second one is the black backgroud (so when the user opens the mobile menu, everything else darkens.)
    #mobilenav_bg_sticky
      #mobilenav_bg
    .mobilenav_sticky
      .main_mobilenav_container
        .mobilenavContainer
            a(href='/')
              img(src='/images/faflogo.svg' alt='')
        #mobilenav_bars
          .mobilenav_bar1
          .mobilenav_bar2
          .mobilenav_bar3
        
        .mobilenav_mobile
          .mobilenav_container
            // This login class is done just to takeout padding from Login
            .mobilenav_login LOGIN
          .mobilenav_container
            .mobilenav_item
              | GAME
              .fas.fa-caret-down
              ul.mobilenav_ul
                li.mobilenav_list
                  a(href='/tutorials-guides')  Tutorials/Guides
                li.mobilenav_list
                  a(href='/scfa-vs-faf')  SC:FA vs FAF 
                li.mobilenav_list
                  a(href='https://kazbek.github.io/FAF-Analytics/')  Player Statistics
                li.mobilenav_list
                  a(href='/ai')  Advanced AIs
                li.mobilenav_list
                  a(href='https://unitdb.faforever.com/')  Unit Database
          .mobilenav_container
            .mobilenav_item
              | COMMUNITY
              .fas.fa-caret-down
              ul.mobilenav_ul
                li.mobilenav_list
                  a(href='/newshub')  News
                li.mobilenav_list
                  a(href='https://forum.faforever.com/')  Forums
                li.mobilenav_list
                  a(href='/contribution')  Streamers and Casters
                li.mobilenav_list
                  a(href='/volunteer-positions')  Contributors and Developers
          .mobilenav_container
            .mobilenav_item
              | COMPETITIVE
              .fas.fa-caret-down
              ul.mobilenav_ul
                li.mobilenav_list
                  a(href='/tournaments')  Tournaments
                li.mobilenav_list
                  a(href='/trainers')  Trainers
                li.mobilenav_list
                  a(href='/league')  League
                li.mobilenav_list
                  a(href='/leaderboards')  Leaderboards 
          .mobilenav_container
            .mobilenav_item
              | CONTRIBUTE
              .fas.fa-caret-down
              ul.mobilenav_ul
                li.mobilenav_list
                  a(href='https://www.patreon.com/faf') Donations
                li.mobilenav_list
                  a(href='/volunteer-positions')  Volunteer Positions
          .mobilenav_container
            .mobilenav_social
              ul
                li
                  a(href='https://discord.gg/mXahVSKGVb')
                    .fab.fa-discord.fa-lg
                li
                  a(href='https://www.twitch.tv/faflive')
                    .fab.fa-twitch.fa-lg
                li
                  a(href='https://www.youtube.com/c/ForgedAllianceForever')
                    .fab.fa-youtube.fa-lg
                li
                  a(href='https://github.com/FAForever')
                    .fab.fa-github.fa-lg
      // A splat is those bars between tthe banners (those shattered particles)

    .splat_main_container.emptyBlackGreyPadding
      .splat_container
        .splat_rotate
          img(src='/images/splat.png' alt='')
          
    block bannerData    
      - var bannerImage = "landing"
      - var bannerFirstTitle = "CONTINUE THE SUPCOM LEGACY IN"
      - var bannerSecondTitle = "FORGED ALLIANCE FOREVER"
      - var bannerSubTitle = "837 ACUS ON THE BATTLEFIELD RIGHT NOW"
    
    block banner
    mixin banner()
      .mainBannerContainer(class= bannerImage + 'Banner')(style='background-image: url(../images/banner/' +bannerImage+ '.jpg);')
        .bannerContainer.bannerTitle #{bannerFirstTitle}
        .bannerContainer.bannerTitle #{bannerSecondTitle}
        .bannerContainer.bannerSubtitle #{bannerSubTitle}
        block bannerButton 

    +banner()
    .splat_main_container.splat_black_background
      .splat_container
        .splat
          img(src='/images/blacksplat.png' alt='')
      
      //- The content block should contain the body of your template's content
    block content
    
    .mainFooterContainer
      .footerContainer
        .footerItem
          a(href='/')
            img(src='/images/faflogo.svg' alt='')
      .footerContainer
        .footerItem
          ul ETIQUETTE
            a(href='/rules')
              li RULES
            a(href='/coc')
              li CODE OF CONDUCT


      .footerContainer
        .footerItem
          ul CONTRIBUTE  
            a(href='https://www.patreon.com/faf')
              li DONATIONS
            a(href='/contribution')
              li VOLUNTEER POSITIONS

      .footerContainer
        .footerItem
          ul LEGAL
            a(href='/tos')
              li TERMS OF SERVICE
            a(href='/privacy')
              li PRIVACY STATEMENT          
            a(href='https://github.com/FAForever')
              li FAF ASSOCIATION

      .footerContainer
        .footerItem
          ul CONTACT US
            a(href='https://github.com/FAForever')
              li DISCORD

            a(href='https://github.com/FAForever')
              li ASSOCIATION  


      //- JAVASCRIPT

      //- jQuery 1.11.3 is included by default, and required by both Bootstrap
      //- and the KeystoneJS Content Editor. If you are not targeting IE8,
      //- you can upgrade to 2.1.4 (also bundled) for better performance.
      //- Customise which Bootstrap javascript files are served by including
      //- them specifically here, instead of bootstrap-3.3.5.min.js
      script(src='/js/bottom.min.js')

      //- Add scripts that are globally required by your site here.
      script(src="../../js/app/index.js")
      //- Include template-specific javascript files by extending the js block
      block js
