section.navigation-wrapper
  position: fixed
  z-index: 9999
  width: 100%
  transition: transform 250ms
  &.unpinned
    transform: translateY(-120%)
    transition: transform 500ms
    .nav-account-dropdown-menu
      display: none

div.top-navigation-wrapper
  background-color: #0F0F0D
  transition: transform 250ms
  @media (max-width: 985px)
    position: fixed
    z-index:  10003
    transform: translateY(-150%)

div.main-navigation-wrapper
  background-color: #212121
  font-family: 'Zeroes Three'
  @media (min-width: 901px)
    height: 60px

.navigation-wrapper.opened
  @media (max-width: 985px)
    ul.main-navigation
      transform: translateX(0)
    .nav-logo
      transform: translateY(-120%)
      transition: transform 250ms
    .mobile-hamburger
      transform: translateX(120%)
      transition: transform 250ms
    .top-navigation-wrapper
      transform: translateY(0)

nav.top-navigation,
nav.main-navigation
  +container()

nav.top-navigation
  height: 43px

nav.main-navigation
  display: flex
  justify-content: space-between

nav.main-navigation
  @media (max-width: 600px)
    flex-flow: row wrap

.nav-download-client
  background-color: $red
  &:hover, &:focus, &:active
    background-color: lighten($red, 5%)
.nav-account-dropdown
  background-color: rgba(white, 0.05)
  &:hover, &:focus, &:active
    background-color: rgba(white, 0.15)
.nav-account-dropdown-menu
  width: 229px
  margin: 0
  border: none !important
  a
    word-wrap: break-word
    white-space: normal !important
.nav-download-client,
.nav-account-dropdown
  color: white
  font-size: 18px
  padding: 15px 15px
  position: relative
  overflow: hidden
  transition: background-color 50ms

  &:hover, &:focus, &:active
    text-decoration: none
    outline: none
    color: white

  span
    @media (max-width: 985px)
      display: none

  i
    display: inline-block
    font-size: 26px
    padding-right: 10px

    @media (max-width: 985px)
      padding-right: 0

.nav-support-us
  button
    border: 0
    background-color: transparent
    text-transform: uppercase
    position: relative
    overflow: hidden
    transition: background-color 100ms

  i
    font-size: 20px
    padding-right: 10px

ul.top-navigation,
ul.main-navigation,
ul.main-navigation-right
  list-style: none
  margin: 0
  padding: 0
  display: inline-block

  li, a
    display: inline-block

  .dropdown
    li, a
      display: block

  .close-mobile-nav,
  .mobile-nav-logo-wrapper
    @media (min-width: 901px)
      display: none

ul.main-navigation-right
  @media (max-width: 985px)
    display: none

ul.main-navigation
  text-align: center

  a, button
    background-color: transparent
    border: 0
    color: white
    font-size: 18px
    padding: 15px 30px
    position: relative
    overflow: hidden

    @media (max-width: 1140px)
      padding-top: 10px
      padding-bottom: 4px
    @media (max-width: 985px)
      &:hover, &:focus, &:active
        background-color: lighten(#181818, 10%)
    @media (max-width: 800px)
      padding-left: 15px
      padding-right: 15px

    &:after
      position: absolute
      content: ''
      top: 0
      right: 0
      bottom: 0
      left: 0
      transition: transform 100ms
      transform: translateY(105%)
      background-color: lighten(#181818, 10%)
      z-index: 10001

    &:hover, &:focus, &:active
      text-decoration: none
      outline: none

      &:after
        @media (min-width: 901px)
          transform: translateY(0)

  i, span
    position: relative
    z-index: 10002

  span
    @media (min-width: 901px) and (max-width: 1140px)
      font-size: 14px
      display: block

  i
    display: inline-block
    font-size: 26px
    padding-right: 10px

    @media (min-width: 901px) and (max-width: 1140px)
      font-size: 22px
      padding-right: 0
      padding-bottom: 5px

  li.nav-more
    display: none
    @media (max-width: 985px)
      display: inline-block

  // mobile
  .mobile-nav-logo
    text-align: center
    padding-top: 0
    padding-bottom: 0
    overflow: visible
    background-color: transparent
    transition: background-color 100ms
    
    &:hover, &:focus, &:active
      background-color: lighten(#181818, 10%)

    &:after
      display: none

    img
      position: relative
      z-index: 10002
      width: 160px
      height: 160px
      display: inline-block
      margin-top: -5px
      margin-bottom: -5px

  @media (max-width: 985px)
    background-color: #212121
    position: fixed
    top: 47px
    left: 0
    right: 0
    bottom: 0
    margin-bottom: -150px
    width: 100%
    z-index:  10003
    transform: translateX(-105%)
    transition: transform 250ms
    overflow-y: auto
    li, a, button
      display: block
      width: 100%
      text-align: left
    a, button
      padding-top: 2vh
      padding-bottom: 2vh
    i
      font-size: 38px
      width: 60px
      text-align: center
    span
      font-size: 28px

ul.top-navigation
  text-align: right
  overflow: auto
  width: 100%
  max-width: 100vw
  white-space: nowrap
  @media (max-width: 985px)
    min-width: 100vw
  &:hover
    a, button
      color: rgba(white, 0.45)
  
  a, button
    padding: 10px 15px
    font-size: 14px
    font-weight: 600
    color: rgba(white, 0.5)
    transition: color 50ms

    @media (max-width: 985px)
      font-size: 20px

    &.icon
      padding: 5px 8px
      font-size: 22px
      vertical-align: -7%

    &:hover, &:focus, &:active
      text-decoration: none
      outline: none
      color: rgba(white, 0.85)

.nav-logo
  position: relative
  width: 120px
  transition: transform 250ms 250ms

  &:hover, &:focus, &:active
    img
      transform: scale(1.02)

  @media (max-width: 985px)
    width: 60px
    height: 60px
    display: block

  img
    position: absolute
    top: 0
    left: 0
    height: 110px
    width: 110px
    margin-top: -36px
    border-radius: 50%
    box-shadow: 0 0 25px rgba(black, 0.1)
    transition: transform 500ms

    @media (max-width: 985px)
      margin-top: -4px
      height: 75px
      width: 75px

    @media (max-width: 640px)
      margin-top: 0
      width: 64px
      height: 64px

.mobile-hamburger
  display: none
  color: white
  text-align: center
  font-size: 18px
  padding: 5px 15px
  position: relative
  overflow: hidden
  border: none
  background: transparent
  transition: transform 250ms 250ms, background-color 100ms
  @media (max-width: 985px)
    display: block
    &:hover, &:focus, &:active
      background-color: lighten(#181818, 10%)
  &:after
    position: absolute
    content: ''
    top: 0
    right: 0
    bottom: 0
    left: 0
    transition: transform 100ms
    transform: translateY(105%)
    background-color: lighten(#181818, 10%)
    z-index: 10001
  &:hover, &:focus, &:active
    text-decoration: none
    outline: none
    &:after
      @media (min-width: 901px)
        transform: translateY(0)
  i
    position: relative
    z-index: 10002
    display: inline-block
    font-size: 36px
    padding-top: 4px

.navbar.navbar-default
  margin: 0px
  box-shadow: 0px 3px 10px #000

.navbar-brand
  padding: 8px
  margin-right: 5px

#btn-dl-nav
  background-color: #F04124

.highlightButton
  background-color: #F04124
  color: #ffffff
  padding: 10px 15px
  margin-top: 10px
  display: block

  &:hover, &:focus
    background-color: #C0341C !important
    color: #ffffff
    text-decoration: none
    outline: none

#btn-dl-nav:hover
  background-color: #C0341C !important

.competitive-nav
  margin-top: 20px
