/* SASS Variables
/* Colors
$black : #000000
$white : #FFFFFF
$white-gray : #c2c2c2
$gray : #5e5e5e
$dark-gray : #111111
$gold : #f7941d
$dark-gold : #c56e03
$light-gold : #ffc077
/* Fonts
$main : "Electrolize", "Orbitron", "Russo One"
$title : "Russo One", "Orbitron", "Electrolize"
$specific : "Orbitron", "Elecnptrolize"

/* Font Size
$paragraph-font-size : 1.4
$subtitle-font-size : 2.5
$title-font-size : 3

/* @media Defaults
$paragraph-1600 : 2
$subtitle-1600 : 3.5
$title-1600 : 4
$paragraph-800 : 2.5
$subtitle-800 : 3.5
$paragraph-600 : 5
$subtitle-600 : 5.5
$title-600 : 7

/* setting css root variables  
\:root
  /* Colors
  --color-black: #{$black}
  --color-white: #{$white}
  --color-white-gray: #{$white-gray}
  --color-gray: #{$gray}
  --color-dark-gray: #{$dark-gray}
  --color-gold: #{$gold}
  --color-dark-gold: #{$dark-gold}
  --color-light-gold: #{$light-gold}

  /* Fonts
  --main-font-family: #{$main}
  --title-font-family: #{$title}
  --specific-font-family: #{$specific}

  /* Font sizes
  --paragraph-font-size: #{$paragraph-font-size}
  --subtitle-font-size: #{$subtitle-font-size}
  --title-font-size: #{$title-font-size}
/* Used as white text between stuff

.responsiveTextTitle
  font-family: var(--specific-font-family)
  font-size: var(--subtitle-font-size)

.responsiveText
  font-size: var(--paragraph-font-size)
  padding: 1.2em 0
  line-height: 1.5em
  color: var(--color-white)
  font-family: var(--main-font-family)
  direction: ltr

.responsiveTextPadding
  padding: 1.5em 10vw

.responsiveTextNoPadding
  font-size: var(--paragraph-font-size)
  line-height: 1.5em
  color: var(--color-white)
  font-family: var(--main-font-family)
  direction: ltr

@media (max-width: 1600px)
  \:root
    --paragraph-font-size: #{$paragraph-1600}
    --subtitle-font-size: #{$subtitle-1600}
    --title-font-size: #{$title-1600}

@media (max-width: 800px)
  \:root
    --paragraph-font-size: #{$paragraph-800}
    --subtitle-font-size: #{$subtitle-800}

@media (max-width: 600px)
  \:root
    --paragraph-font-size: #{$paragraph-600}
    --subtitle-font-size: #{$subtitle-600}
    --title-font-size: #{$title-600}

/*=============== Main HTML ===============

html
  font-family: var(--main-font-family)

body
  text-align: center
  background-attachment: fixed
  background-color: var(--color-dark-gray)
  background-position: center center
  margin: 0 0 0 0
  padding: auto
  padding-top: 0
  font-family: var(--main-font-family)
  color: var(--color-white)

a
  &:link
    text-decoration: none
    color: var(--color-white-gray)
    transition: 0.5s

  &:visited
    text-decoration: none
    color: inherit

  &:hover
    color: var(--color-white)

ul
  padding: 0
  margin: 0

.indexButton
  margin: 10vw
  font-size: 4vw
  padding: 5vw
  background-color: var(--color-gold)
  color: var(--color-white)
  font-family: var(--title-font-family)
  transition: 0.4s

  &:hover
    background-color: var(--color-dark-gold)
    color: var(--color-white)

/*===== Splat Starts =====

.splat_main_container
  display: grid
  grid-template-columns: auto
  position: relative
  padding: 10px 0 10px 0
  justify-items: center

.splat_rotate
  position: absolute
  transform: rotate(0.5turn)
  width: 100vw
  z-index: 0
  object-fit: contain

.splat
  position: absolute
  width: 100%
  object-fit: cover
  bottom: 0
  overflow: hidden

.splat_container
  position: relative
  width: 100%
  grid-column: 1/-1

.splat_black_background
  background-color: var(--color-black)

.separationBar
  padding: 20px 0
  background-color: var(--color-dark-gray)

/*=============== Nav Bar ===============
/*===== Top Navbar =====

.main_topnav_container
  display: grid
  grid-template-columns: repeat(12, max-content)
  grid-template-rows: minmax(10px, 1fr)
  color: var(--color-gray)
  font-size: calc(var(--paragraph-font-size) / 1.5)
  background-color: var(--color-black)
  padding: 0.6em
  position: relative
  justify-content: end
  place-items: center

.topnav_container
  padding: 0 0.5em

.topnav_item
  width: 100%
  height: 100%
  position: relative
  transition: 0.5s
  display: grid
  place-items: center
  cursor: pointer
  justify-self: end

.topnav_hover:hover, .topnav_item a
  color: var(--color-white)

.fab
  padding: 5%
  font-size: 30px
  height: 10px
  width: 100%
  text-align: center
  text-decoration: none
  color: var(--color-white-gray)
  justify-self: end
  transition: 0.5s

  &:hover
    color: var(--color-white)

/*===== Regular navbar =====

.main_nav_container
  display: grid
  grid-template-columns: max-content minmax(50px, auto) max-content max-content
  grid-template-rows: auto
  font-size: var(--paragraph-font-size)
  background-color: var(--color-dark-gray)
  color: var(--color-white-gray)
  font-family: var(--main-font-family)
  justify-items: center
  padding: 10px 10px 0 10px

.nav_container
  align-self: center
  align-content: center

.nav_item
  width: 100%
  height: 100%
  position: relative
  list-style-type: none
  margin: 0
  padding: 0
  transition: 0.25s

  li
    display: inline-block
    padding: 0 20px

.nav_image img
  width: 80px
  height: 100%
  object-fit: contain
  overflow: hidden
  padding: 0 0 0 20px
  justify-self: center
  place-self: center

.nav_download
  color: var(--color-white)
  background-color: var(--color-gold)
  border: 0.1em solid var(--color-dark-gold)
  letter-spacing: 0.4px
  margin-left: 20px
  transition: 0.25s

  &:hover
    background-color: var(--color-dark-gold)

.nav_link
  padding: 10px
  color: white

.nav_end
  justify-self: end
  font-weight: 900
  letter-spacing: 1px

/* This is the hover menu you see when you hover on GAME, COMMUNITY and so on

.nav_absolute
  position: absolute
  z-index: 10
  text-align: left
  display: none
  top: 1em

  li
    padding: 20px
    display: block
    background-color: var(--color-dark-gray)
    transition: 0.25s

    &:hover
      color: var(--color-white)
      background-color: var(--color-gray)

.nav_list
  &:hover
    color: var(--color-white)
    transition: 0.25s

  li
    color: var(--color-white-gray)

.fa-caret-down
  transition: 0.35s

.nav_list:hover .fa-caret-down
  transform: rotate(-0.25turn)

@media (max-width: 1200px)
  .main_nav_container, .main_topnav_container
    display: none

/* Mobile navbar

.mobilenav_sticky
  position: sticky
  display: none
  top: 0
  z-index: 100
  background-color: var(--color-black)
  border: 1px solid var(--color-white)

.main_mobilenav_container
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: auto
  justify-items: left
  font-family: "Orbitron", serif
  text-align: left
  font-size: 25px

#mobilenav_bars
  padding: 10px
  background-color: var(--color-dark-gray)
  border: 1px solid var(--color-gray)
  justify-self: right

.mobilenav_bar1, .mobilenav_bar2, .mobilenav_bar3
  width: 35px
  height: 5px
  background-color: var(--color-white)
  margin: 6px 0
  transition: 0.4s

.mobilenav_change
  .mobilenav_bar1
    transform: rotate(-45deg) translate(-9px, 6px)

  .mobilenav_bar2
    opacity: 0

  .mobilenav_bar3
    transform: rotate(45deg) translate(-8px, -8px)

.mobilenav_mobile
  opacity: 0
  height: 0
  display: none

.mobilenav_mobile_active
  opacity: 100
  height: 100%
  transition: 1s
  display: block

#mobilenav_bg_sticky
  position: sticky
  top: 0
  z-index: 9

#mobilenav_bg
  position: absolute

.mobilenav_bg_active
  background-color: var(--color-black)
  width: 100vw
  height: 100vh
  opacity: 90%
  transition: 0.5s

.mobilenav_item
  margin: 10px
  padding: 25px 10px 0 0

.mobilenav_login
  margin: 10px
  padding: 25px 10px 0 0
  padding-top: 0

.mobilenav_item ul
  list-style-type: none
  margin: 0
  padding-top: 10px

.mobilenav_ul
  display: none

  li
    padding: 15px 10px 15px 10px
    color: var(--color-white-gray)
