mixin flash-connect(connectFlash)
    - var flashes = connectFlash()
        if flashes
            if flashes.info
                div.alert(class='alert-success')
                    ul
                    each info in flashes.info
                        li !{info}
            if flashes.error
                div.alert(class='alert-danger')
                    ul
                    each error in flashes.error
                        li !{error}
