mixin flash-connect(connectFlash)
    - var flashes = connectFlash()
        if flashes
            if flashes.info
                .alert.alert-success
                    ul
                    each info in flashes.info
                        li !{ info }
            if flashes.error
                .alert.alert-danger
                    ul
                    each error in flashes.error
                        li !{ error }
