extends ../layouts/default
include ../mixins/flash-messages
block bannerMixin

block content
    .clanBackground
        .mainClanContainer
            .clanContainer.column12.centerYourself
                +flash-messages(flash)
                p Search FAF Clans
                    #errorLog
                input#input(
                    onkeyup='pressEnter(event)',
                    type='text',
                    placeholder='Clan TAG'
                )
                #searchbar
                    .searchBar
                        ul
                            #placeMe
                ul#clearSearch.clearButton.appearWhenSearching
                    li.fas.fa-trash-alt
        #searchResults.mainClanContainer.clanBorder.appearWhenSearching
            .clanContainer.column6
                .clanItem
                    ul Clan Name
                    li#clanNameSearch
            .clanContainer.column1
                .clanItem
                    ul TAG
                    li#clanTAGSearch
            .clanContainer.column3
                .clanItem
                    ul Clan Leader
                    li#clanPlayerSearch
            .clanContainer.column2
                .clanItem
                    ul Population
                    li#clanPopulationSearch
        .mainClanContainer
            //DO NOT Change the order of these without changing the js. For them to work, they need to be in this specific order
            .clanContainer.clanButton.column12
                ul
                    li.pageButton.exhaustedButton(onclick='pageChange(0)') First
                    li.pageButton(onclick='pageChange(lastPage)') Last
                ul
                    li.pageButton.exhaustedButton(onclick='pageChange(pageNumber - 1)') Previous
                    li.pageButton(onclick='pageChange(pageNumber + 1)') Next

        .mainClanContainer.clanBorder
            .clanContainer.column6
                .clanItem
                    ul Clan Name
                    li#clanName
            .clanContainer.column1
                .clanItem
                    ul TAG
                    li#clanTAG
            .clanContainer.column3
                .clanItem
                    ul#spawnPlayer Clan Leader
                    li#clanPlayer
            .clanContainer.column2
                .clanItem
                    ul Population
                    li#clanPopulation
        .mainClanContainer
            .clanContainer.clanButton.column12
                ul
                    li.pageButton.exhaustedButton(onclick='pageChange(0)') First
                    li.pageButton(onclick='pageChange(lastPage)') Last
                ul
                    li.pageButton.exhaustedButton(onclick='pageChange(pageNumber - 1)') Previous
                    li.pageButton(onclick='pageChange(pageNumber + 1)') Next

block js
    script(src=webpackAssetJS('clans'))
