extends ../layouts/default
block bannerData
    - var bannerImage = 'contentcreator'
    - var bannerFirstTitle = ' FROM ENTERTAINING CASTERS TO '
    - var bannerSecondTitle = 'TOP PLAYERS ANALYZING MATCHES'
    - var bannerSubTitle = 'EITHER LAUGH OR LEARN WITH THEM, MAYBE BOTH?'
block content
    #contentCreatorWordpress

block js
    script(src=webpackAssetJS('content-creators'))
