extends ../../layouts/default
include ../../mixins/flash-messages
block bannerMixin
block content
    .playMain
        .playInnerGrid
            .playContainer
                h1 How to link FAF account to Steam?
                    p Shouldn't take more than 1-2 minutes.
                .playContentContainer
                    label Go to your Profile inside the Steam client -> Edit Profile -> Privacy Settings -> Set Game details to "Public"
                    img(src='/images/steamGOG/steamPublic.jpg')
                    img(src='/images/steamGOG/steamEditProfile.jpg')
                    img(src='/images/steamGOG/steamSettings.jpg')
                    label Login to Steam and link your account below
                    a(href=steamConnect, target='_blank')
                        button Link your FAF account to Steam
                    img(src='/images/steamGOG/steamLogin.jpg')
                    label Make sure the flash message below states you are connected.
                    p Flash Message:
                    +flash-messages(flash)
                    p If you encounter issues linking then you may also need to set the game to be public
                    label Login to steam in your browser -> Games -> Supreme commander -> "Unmark as private"
                    img(src='/images/steamGOG/steamBrowserGames.jpg')
                    img(src='/images/steamGOG/steamBrowserGameSettings.jpg')
                h2 And you are done with Steam link forever!
                    p Now if you want, you can set your Game Details back to private.

                h2 Why do I need to link my Steam/GOG account to FAF?
                    p FAF as an organization doesn't own the copyright or trademark to SC:FA (Square Enix does). <br> Therefore, we need to verify you own a copy of SC:FA to prevent piracy.
                    p Linking your steam account to FAF doesn't provide us with any information or powers over your account. <br> Only the fact that you own Supreme Commander: Forged Alliance. <br> Which is why we need you to set your Game Details to public when linking your account.
