extends ../../layouts/default
block bannerData
    - var bannerImage = '404'
    - var bannerFirstTitle = '404 Error'
    - var bannerSecondTitle = ''
    - var bannerSubTitle = "Sorry, the page you requested can't be found."

block content
