extends ../../layouts/default
block bannerData
  - var bannerImage = "404"
  - var bannerFirstTitle = "500 Error"
  - var bannerSecondTitle = ""
  - var bannerSubTitle = "Sorry, the site has encountered an error"
block content

