extends ../../layouts/default
block bannerData
    - var bannerImage = 'tutorial'
    - var bannerFirstTitle = 'Temporarily Disabled'
    - var bannerSecondTitle = ''
    - var bannerSubTitle = 'Sorry commanders, we failed to build enough pgens and are now in a tech upgrade'
block content
