/* Init */

#body {
  margin-top: 46px;
}

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 50px;
}

h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 42px;
}

h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 36px;
}

.primary-color {
  color: $brand-primary;
}

.text-muted {
  font-size: 12px;
}

/* Keystone */

#header {
}

/* Footer */

#footer {
  background-color: #333;
  background: rgb(53,53,53); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgba(53,53,53,1) 0%, rgba(30,30,30,1) 0%, rgba(56,56,56,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  rgba(53,53,53,1) 0%,rgba(30,30,30,1) 0%,rgba(56,56,56,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  rgba(53,53,53,1) 0%,rgba(30,30,30,1) 0%,rgba(56,56,56,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#383838',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  box-shadow: 0px 0px 10px #000;
}

#footer .container {
  padding-top: 25px;
  margin-bottom: 0px;
	color: #777777;
}

/* Sticky footer */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 295px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 295px;
}

/* Containers */

.container-fluid {
  padding: 0px;
}

/* Navbar */

.navbar.navbar-default {
  margin: 0px;
  box-shadow: 0px 3px 10px #000;
}

.navbar-brand {
  padding: 8px;
  margin-right: 5px;
}

/* Competitive navbar */

.competitive-nav {
  margin-top: 20px;
}

/* Banner */

.banner {
  background-image: url("http://placehold.it/2560x200/ccc");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

/* List-Group */

.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
}

/* Contributions */

.contribution-title {
  margin: 50px;
}

.donation-form {
  margin: 40px;
}

.thanks-for-support {
  margin: 50px;
}
