/* Init */

#body {
  margin-top: 46px;
}

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 50px;
}

h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 42px;
}

h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 36px;
}

.primary-color {
  color: $brand-primary;
}

.text-muted {
  font-size: 12px;
}

/* Keystone */

#header {
}

#footer {
  background-color: #333;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#353535+0,1e1e1e+0,383838+100 */
  background: rgb(53,53,53); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgba(53,53,53,1) 0%, rgba(30,30,30,1) 0%, rgba(56,56,56,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  rgba(53,53,53,1) 0%,rgba(30,30,30,1) 0%,rgba(56,56,56,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  rgba(53,53,53,1) 0%,rgba(30,30,30,1) 0%,rgba(56,56,56,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#383838',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  box-shadow: 0px 0px 10px #000;
}

#footer .container {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 0px;
	color: #777777;
}

iframe {
  box-shadow: 0px 0px 10px #000;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* Containers */

.container-fluid {
  padding: 0px;
}

/* Navbar */

.navbar.navbar-default {
  margin: 0px;
  box-shadow: 0px 3px 10px #000;
}

.navbar-brand {
  padding: 8px;
  margin-right: 5px;
}

/* Banner */

.banner {
  background-image: url("http://placehold.it/900x200/ccc");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  margin-top: 40px;
}

/* Presentation */

.intro {
  background-image: url("/images/index-background.jpg");

  //background-color: #333;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin-top: 46px;
  height: 600px;

  box-shadow: 0px 0px 15px #000;
}

.intro:before {
  content: " ";
  width: 100%;
  height: 600px;
  position: absolute;
  top: 47px;
  left: 0;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.11+0,0.65+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.11) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.11) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.11) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}

.positionutil {
  position: absolute;
  left: 50%;
  top: 50px;
}

.introtitle {
  position: relative;
  left: -50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;

  color: white;

  text-align: center;
}

.introtitle img {
  padding: 10px;
}

.introtitle h1 {
  font-size: 4.5em;
  padding: 0.2em;
}

.introtitle h3 {
  padding: 10px;
  color: #ccc;
}

.btn-intro {
  background-color: transparent;
  color: white;
  margin: 30px;
}

.btn-intro:hover {
  background-color: white;
}

/* The Project */

.the-project {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.the-project h1 {
  padding: 20px;
}

.the-project p {
  padding: 20px;
}

/* Features */

.features {
  padding-top: 50px;
  padding-bottom: 50px;
  /*background-image: url("/images/features_bg.jpg");
*/

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#353535+0,1e1e1e+0,383838+100 */
  background: rgb(53,53,53); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(53,53,53,1) 0%, rgba(30,30,30,1) 0%, rgba(56,56,56,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(53,53,53,1) 0%,rgba(30,30,30,1) 0%,rgba(56,56,56,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(53,53,53,1) 0%,rgba(30,30,30,1) 0%,rgba(56,56,56,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#383838',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  color: white;

  box-shadow: 0px 0px 15px #000;
}

.features .row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.features img {
  box-shadow: 0px 0px 15px #000;
}

/* Trailer */

.trailer {
  padding-top: 50px;
}

.trailer .row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-outro {
  background-color: white;
  color: black;
  margin: 30px;
}

.btn-outro:hover {
  background-color: #333;
  color: white;
}

.trailer h1 {
  margin-bottom: 50px;
  font-size: 56px;
}

/* News */

.news-categories {
  margin: 20px;
}

.news-count {
  margin-bottom: 30px;
}

.newspanel {
  text-decoration: none;
  color: black;
}

.newspanel:visited {
  text-decoration: none;
}

.newspanel:hover {
  text-decoration: none;
  color: black;
}

.newspanel:active {
  text-decoration: none;
}

.newspanel .panel:hover {
  box-shadow: 0px 0px 15px #000;
}

.newspanel .panel {
  height: 315px;
}

/* List-Group */

.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
}
