@import '../../../node_modules/fullcalendar/dist/fullcalendar';
@import '../../../node_modules/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch';

.calendar {
  max-width: 900px;
  margin: 20px auto;
}

.developerCalendar {
  background-color: #3a87ad;
  color: white;
}

.tournamentCalendar {
  background-color: #F04124;
  color: white;
  border: 1px solid #D4280C;
}

h2.developerCalendar {
  color: #3a87ad;
  background-color: inherit;
  border: none;
}

h2.tournamentCalendar {
  color: #F04124;
  background-color: inherit;
  border: none;
}
