@use '../abstracts/variables'
@use '../abstracts/mixins'


#clan-view
    text-align: left
    margin: 20px 60px
#clan-info
    text-align: left
    td
        padding: 10px
#clan-table
    button
        margin: 0
        padding: 0
    .datatable-sorter::before
        border-top: 4px solid white
    .datatable-sorter::after
        border-bottom: 4px solid white
    tbody
        tr:hover
            background-color: #1f2349
            cursor: pointer
        td
            text-align: left
#clan-members
    button
        margin: 0
        padding: 0
    .datatable-sorter::before
        border-top: 4px solid white
    .datatable-sorter::after
        border-bottom: 4px solid white
    tbody
        td
            text-align: left

.clanManagement textarea
    margin: 1em 1em 2px 1em
    background-color: #3f3f3f
    color: #ffffff
    font-size: var(--paragraph-font-size)
    border: 0.5em solid #262626
    border-radius: 10px
    z-index: 2
    position: relative


.faf-button
    appearance: button
    text-decoration: none
    margin: 0.2em
    padding: 0.8em
    color: #000000
    border: 0px solid #262626
    background-color: #ec9d36
    border-radius: 20px
    justify-self: center
    font-weight: bold
    letter-spacing: 0.1em
    cursor: pointer
    &:link
        color: #000000
    &:visited
        color: #000000
    &:hover
        color: #ffffff
        background-color: #731d00

.action-link
    color: #ec9d36
    margin-right: 2em
    &:link
        color: #ec9d36
    &:visited
        color: #ec9d36
    &:hover
        color: #731d00
