@use '../abstracts/variables'
@use '../abstracts/mixins'

#clan-view
    text-align: left
    margin: 20px 60px
#clan-info
    text-align: left
    td 
        padding: 10px
#clan-table
    button
        margin: 0
        padding: 0
    .datatable-sorter::before
        border-top: 4px solid white
    .datatable-sorter::after
        border-bottom: 4px solid white
    tbody
        tr:hover
            background-color: #1f2349
            cursor: pointer
        td
            text-align: left
#clan-members
    button
        margin: 0
        padding: 0
    .datatable-sorter::before
        border-top: 4px solid white
    .datatable-sorter::after
        border-bottom: 4px solid white
    tbody
        td
            text-align: left
