/* Contributions */

.contribution-title {
  margin-top: 50px;
}

.contribution-subtitle {
  margin-bottom: 50px;
  line-height: 30px;
}

.donation-form {
  margin: 20px;
}

.github-button {
  background-color: white;
  color: black;
  margin: 15px;
}

.github-button:hover {
  background-color: #222;
  color: white;
}

.thanks-for-support {
  margin: 50px;
}
