@use '../abstracts/variables'
@use '../abstracts/mixins'

.developmentBG
  background-image: url("../../images/contribution/development.jpg")
.mapsModsBG
  background-image: url("../../images/contribution/twinbarrel.jpg")
.testerBG
  background-image: url("../../images/contribution/tester.jpg")
.artworkBG
  background-image: url("../../images/contribution/artwork.jpg")
