.intro
  height: 600px
  position: relative

.hero 
  background-image: url("/images/index-background.jpg")
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  height: 600px
  box-shadow: 0px 0px 15px #000

.hero:before
  content: " "
  width: 100%
  height: 600px
  z-index: 2
  position: absolute
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.11+0,0.65+100 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.11) 0%,rgba(0,0,0,0.65) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c000000', endColorstr='#a6000000',GradientType=0 )

.introtitle
  position: relative
  top: -90%
  z-index: 3
  color: #fff
  text-align: center
  text-shadow: 1px 1px 0 rgba(0,0,0,.75)

.introtitle img
  padding: 10px

.introtitle h1
  font-size: 3em
  padding: 0.2em

.introtitle h3
  padding: 1em
  color: #ccc

.introtitle a
  text-shadow: none

.btn-intro
  background-color: transparent
  color: white
  margin: 1em

.btn-intro:hover
  background-color: white

/* The Project */

.the-project
  text-align: center
  padding-top: 30px
  padding-bottom: 50px

.the-project h1
  padding: 20px

.the-project p
  padding: 20px

/* Features */

.features
  padding-top: 50px
  padding-bottom: 50px
  // background-image: url("/images/features_bg.jpg")

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#353535+0,1e1e1e+0,383838+100 */
  background: rgb(53,53,53); /* Old browsers */
  background: linear-gradient(135deg,  rgba(53,53,53,1) 0%,rgba(30,30,30,1) 0%,rgba(56,56,56,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#383838',GradientType=1 )
  color: white
  box-shadow: 0px 0px 15px #000

.features .row
  padding-top: 50px
  padding-bottom: 50px

.features img
  box-shadow: 0px 0px 15px #000

.features h3
  margin-top: 10.5px

/* What is Supreme Commander? */

.what-is
  margin-top: 50px
  margin-bottom: 50px

.what-is h1
  margin-top: 20px
  margin-bottom: 60px

.what-is img
  box-shadow: 0px 0px 15px #000

.buy-now
  margin-top: 50px

.buy-now h3
  margin-top: 40px
  line-height: 1.3em

.btn-outro
  margin: 30px

.counter
  