@use '../abstracts/variables'
@use '../abstracts/mixins'

.mainLeaderboardContainer
  @include mixins.gridMainContainer
  padding: 2.5vw 10vw 
  ul
    list-style: none
    li 
      padding: 0.5em 0
    

.leaderboardContainer
  padding: 0em



.leaderboardCategory
  padding: 2em
  display: inline-block
  place-items: start
  font-family: variables.$family-paragraph
  font-weight: 1000
  letter-spacing: 0.1em
  ul
    li
      display: inline-block
      padding: 1em 2em
      border: 0.05em solid variables.$color-inactive
      background-color: variables.$background-tertiary
      cursor: pointer
      transition: 0.4s
      &:hover
        border: 0.05em solid variables.$color-active
        filter: brightness(2)
    .activeLeaderboard
      border: 0.05em solid variables.$color-active
      background-color: variables.$color-inactive-plus
      &:hover
        filter: brightness(1)

