$headerColour: #6990e0
$headerFont: 'Electrolize', sans-serif
$badgeFont: 'Russo One', sans-serif

.newshub_container
  min-height: calc(100vh)
  background-color: #212121
  overflow: hidden
  
.newshub
  max-width: 1270px
  margin: auto
  padding-top: 25px
  color: rgb(214, 214, 214)
  position: relative
  
.newshub a
  text-decoration: none
  color: $headerColour

//announcement  
.announcement 
  max-width: 1260px
  margin: 0px 0px 0px 10px
  p
    padding: 9px 15px
    color: rgb(214, 214, 214)
    font-family: $headerFont
    

//sidebars  
#sidebar_left 
  width: 250px
  left: -250px
  top: 25px
  position: absolute
#sidebar_right 
  width: 250px
  right: -260px
  top: 25px
  position: absolute

//columns flex    
.newshub_flex
  display: flex
  justify-content: center
  flex-wrap: wrap

// all article cells
.cell
  margin: 0px 0px 10px 0px
  overflow: hidden

  &.hoverable:hover 
    background-color: #282833
    cursor: pointer
  .articleBadge
    background-color: rgb(147, 51, 51)
    display: inline-block
    padding: 1px 10px
    min-width: 80px
    text-align: center
    margin: 0px 0px 5px 0px
    font-size: 13px
    font-family: $badgeFont
  .articleTitle 
    color: $headerColour
    font-family: $headerFont
    margin: 0px 0px 3px 0px
  .articleSubtitle
    display: none
    color: $headerColour
    font-family: $headerFont
  .articleImage 
    margin: 0px 10px 0px 0px

  // nomads
  &.styleNomads
    .articleBadge
      background-color: #dd7e2e

  // golden
  &.styleGolden
    background: inherit url(/images/newshub-highlight.jpg) repeat-y 1px 0px
    .articleBadge
      background-color: rgb(215, 148, 6)
    .articleTitle
      color: rgb(255, 174, 0)
    .articleSubtitle
      color: rgb(255, 174, 0)
    .articleParagraph
      color: rgb(179, 178, 113)
    a
      color: rgb(255, 174, 0)
      
  // no titles
  &.styleNoTitles
    .articleTitle
      display: none
    .articleSubtitle
      display: none

// left column
.column_left 
  max-width: 744px

  .cell
    height: 170px
    max-width: 372px
    padding: 0px 0px 0px 10px
    float: left

    .articleTitle 
      font-size: 17px
    .articleImage 
      max-width: 150px
      float: left
      img 
        max-width: 150px
    .articleSubtitle 
      display: none
    .articleParagraph 
      margin: 0px 0px 10px 0px

    &.styleHero
      height: 530px
      padding: 0px 10px 10px 10px
      margin: 0px 0px 10px 0px
      float: left
      display: flex
      flex-direction: column
      align-items: baseline
      .articleBadge
        min-width: 80px
      .articleTitle
        font-size: 30px
        margin: 0px 0px 3px 0px
        order: 2
      .articleImage
        order: 1
        img
          max-width: 352px
          order: 1
      .articleSubtitle
        display: block
        font-size: 16px
        margin: 0px 0px 2px 0px
        order: 3
      .articleParagraph
        margin: 0px 0px 10px 0px
        order: 4

      &.styleNoTitles
        .articleSubtitle
          display: none

@media screen and (max-width: 760px) 
  .column_left 
    display: flex
    justify-content: center
    flex-wrap: wrap

// right column
.column_right 
  width: 227px

  .cell
    width: 227px
    padding: 0px 10px 0px 10px
    display: flex
    flex-direction: column
    align-items: baseline
    .articleTitle
      font-size: 15px
      order: 2
    .articleImage
      order: 1
      img
        max-width: 189px
    .articleSubtitle
      order: none
    .articleParagraph
      display: none


#sidebar_middle
  width: 299px

.endline
  max-width: 1270px
  clear: both
  
  