.news-categories
  margin: 20px

.news-count
  margin-bottom: 30px

.newspanel
  text-decoration: none
  color: black

  &:visited
    text-decoration: none

  &:hover
    text-decoration: none
    color: black

  &:active
    text-decoration: none

  .panel
    // height: 350px

    &:hover
      box-shadow: 0px 0px 15px #000

  .panel-heading h3
    font-size: 26px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  a.plain
    color: #333

    &:hover
      color: #333

  .excerpt
    // height: 195px
    overflow: auto
    background-clip: padding-box
    box-sizing: border-box
    text-align: left
    text-indent: 10px

    h1
      text-align: center

    li
      text-indent: 0px

  img
    height: auto
    width: 100%
    padding: 10px
    border-radius: 2px 2px 0 0
    background-clip: padding-box
    position: relative
    display: block

  .footer
    padding-top: 5px
