@use '../abstracts/mixins'
@use '../abstracts/variables'


#articleStart
  @include mixins.gridMainContainer
  gap: 25px
  background-image: url("../../images/factionpattern.jpg")
  padding: 2vw 7vw
  text-align: left
  .articleTopTitle
    text-align: center
    letter-spacing: 0.25em
    
#articleMain
  @include mixins.gridMainContainer
  gap: 25px 
  padding: 1vw

  .articleContainer
    height: 100%
    background-color: variables.$background-secondary
    border: 0.25em solid variables.$button-active
    transition: 0.4s
    &:hover
      filter: brightness(1.2) contrast(1.05)
      background-color: variables.$background-primary
    .articleImage
      cursor: pointer
      background-image: url("/../../images/coop.jpg")
      background-size: cover
      background-position: center
      padding: 8vw
    .articleText
      padding: 0.5em
      p
        padding: 0.25em
      h2 ,p
        font-size: 18px
      h1
        font-size: 30px
      button
        font-size: 14px
        padding: 0.5em

    
@media (max-width: 1200px)
  #articleStart
    padding: 4vw
  #articleMain
    gap: 20px
    .column8
      grid-column: span 4

@media (max-width: 800px)
  #articleMain
    gap: 20px
    .column4, .column8
      grid-column: span 6
    .articleContainer
      .articleText
        padding: 0.5em
        p
          padding: 0.25em
        h2 ,p
          font-size: 12px
        h1
          font-size: 18px
        button
          font-size: 12px
          padding: 0.5em
      .articleImage

        padding: 14vw

@media (max-width: 500px)
  #articleMain
    gap: 20px
    .column4, .column8, .column6
      grid-column: span 12
    .articleContainer
      .articleImage

        padding: 20vw
    
      
  
// Javi is the coolest
