@use '../abstracts/variables'
@use '../abstracts/mixins'

.playInfo
  padding: 2%
  
.playPrep
  padding: 2%
  
.playStep1
  padding: 2%

.playStep2
  padding: 2%

.playStep3
  padding: 2%

.playStep4
  padding: 2%

.playStep5
  padding: 2%

.playDiscord
  padding: 2%
