@use '../abstracts/variables'
@use '../abstracts/mixins'

.playMain
  @include mixins.gridMainContainer
  grid-template-columns: 1fr
  justify-items: center
  text-align: center
  background-color: rgba(0,0,0,0.5)
  gap: 1em 0
  margin: 2vw 4vw
  padding: 1em
  border-radius: 20px
  .playInnerGrid
    @include mixins.gridMainContainer
    grid-template-columns: 1fr
    margin: 0 auto
    gap: 3em 0
    .playContainer
      padding: 1em 0
      width: 100%
      border-radius: 20px
      text-align: center
      background-color: variables.$background-secondary

      label
        margin: 0
        font-size: 18px



      a
        display: inline-block
        margin: 0.25em auto
        button
          font-size: 1em
          text-align: center
          display: block

      h2
        padding: 1em
        font-weight: 600
        p
          font-weight: normal
    .playContentContainer
      padding: 0 0.25em
      margin: 0 0.25em
      text-align: center
      display: grid
      justify-items: center
      gap: 1.25em
      img
        max-width: 100%
      .smallerImages
        display: inline-flex
        justify-content: space-between
        flex-direction: row
        img
          flex-grow: 1
          padding: 1.25em .75em
          max-height: 500px
      .displayBlock
        input
          width: initial


@media (max-width: 1000px)
  .playMain
    padding: 0
    margin: 0
    .playInnerGrid
      .playContainer
        padding: 1em 0.1em
        .playContentContainer
          .smallerImages
            flex-direction: column

