@use '../abstracts/variables'
@use '../abstracts/mixins'


.changeMain
  @include mixins.gridMainContainer
  gap: 20px
  margin: 20px 6%
  text-align: left
  .changeSubGrid
    @include mixins.gridMainContainer
    height: 100%
    transition: 0.4s
    //&:hover
      .changeContainer, .changeImage
        filter: contrast(1.2)
        background-color: variables.$button-inactive
        color: variables.$background-primary

  .changeContainer
    transition: 0.4s

    height: 100%
    background-color: variables.$background-secondary
    h1
      padding: 1em 
    p
      line-height: 2em
    li
      font-family: variables.$family-paragraph
      font-size: var(--paragraph-font-size)
      line-height: 2em
      padding: 0.25em

@media (max-width: 1000px)
  .changeMain
    .column4
      grid-column: span 6
      
@media (max-width: 500px)
  .changeMain
    gap: 10px
    margin: 10px 2%
    .column4
      grid-column: span 12
