extends ../../layouts/default
include ../../mixins/flash-messages
include ../../mixins/form/account

block css
    link(href="/styles/css/account.min.css", rel="stylesheet")

block content
    .container.text-center
        .row
            .col-md-12
                h1.account-title Change Password
                h4.account-subtitle.text-center Enter your username AND email below to reset your password. The password will be reset based upon the one you specified in the form.
                hr
        .row
            .col-md-offset-3.col-md-6
                +flash-messages(flash)

        .row
            .col-md-offset-3.col-md-6
                form(method='post',action="/account/password/change",data-toggle="validator")
                    +username
                    +oldPassword('Old')
                    +confirm-password('','New')
                    .form-actions
                        button(type='submit').btn.btn-default.btn-lg.btn-outro.btn-danger Change

block js
