extends ../../layouts/default
include ../../mixins/flash-messages
include ../../mixins/form/account

block content
    .container.text-center
        .row
            .col-md-12
                h1.account-title Link Account to Steam
                h4.account-subtitle.text-center By doing that, you will be able to run several accounts on the same computer, as long as all these accounts are also linked to Steam. The Steam account needs to have a copy of Forged Alliance. It doesn't need to be installed. The Steam account need to be public during the first login. You can set it back to private after the initial login. Be careful: If you try to log with a non-linked account on a computer that used a Steam-linked account, you will not be able to login! There is no going back! Once your account is tied to Steam, you can't unlink it!
                hr
        .row
            .col-md-12
                +flash-messages(flash)
        .row
            a(href=steamConnect)
                img(src='/images/steam_link.png')

block js
    script(src='/js/account.min.js')
