extends ../../layouts/default
include ../../mixins/flash-messages
include ../../mixins/form/account

block content
    .container.text-center
        .row
            .col-md-12
                h1.account-title Link Account to Steam
                h4.account-subtitle.text-center The Steam account needs to own Forged Alliance. It doesn't need to be installed. The Steam account and your Game details need to be public during the first login. You can set them back to private after the initial login. Once your account is tied to Steam, you can't unlink it! For details please see this <a href="https://imgur.com/a/enuUlAb">Steam linking guide with pictures!</a>
                hr
        .row
            .col-md-12
                +flash-messages(flash)
        .row
            p Click on the image below to get to the Steam login page:
            a(href=steamConnect)
                img(src='/images/steam_link.png')

block js
    script(src='/js/account.min.js')
