extends ../../layouts/default
include ../../mixins/flash-messages
include ../../mixins/form/account

block bannerData
  - var bannerImage = "account"
  - var bannerFirstTitle = "Register a FAForever Account"
  - var bannerSubTitle = "To get started, please register with a unique username and and a valid email address. You will choose your password later."
block content
  .accountInfoContainer
    .accountRules.column6
      h2 Important Account Rules:
        ul
          br
          p - You may only register one account.</strong> Additional accounts will be banned. If you misbehave using multiple accounts, you may be banned completely.
          br
          p - <strong>Your email address is the only way to regain access to your account</strong> if you lose your password. If you lose both your password and your email, you will lose access to your account.
          br
          p - <strong>Full FAF Social rules:</strong> <a href="/rules">FAF Lobby and Forum rules</a>
    .accountLinking.column6
      h2 Account linking is needed to verify game Ownership.
      br
      p  FAF Supports both Steam & GOG versions of the base game.
      br
      p  For Steam you only need to own Supreme Commander: Forged Alliance. ( If you own a Disk version the key can be redeemed for a Gold Edition on steam)
      br
      p  For GOG you need to own the Gold Edition of Supreme Commander 
    .flashMessage
      +flash-messages(flash)

  .splatForgedBorder
    .movingBackground1
    .movingBackground2

  .accountForm
    .column12
      form(method='post', action="/account/register", data-toggle="validator")
        .formEmail.has-feedback.column6
          label Email:
            .input-group
              input(type='email', name='email', required='required', value=formData['email']).form-control
              span(aria-hidden='true').glyphicon.form-control-feedback
              .help-block.with-errors
        br
        .formUsername.has-feedback.column6
          label Username:
            .input-group
              input(type='text', name='username', required='required', value=formData['username'], data-minlength='3', maxlength='16', pattern='[A-Za-z]{1}[A-Za-z0-9_-]{2,15}$', data-minlength-error='The username is too short - must be at least 3 characters', data-error='Please check username requirements', data-remote="/account/checkUsername", data-remote-error="Username taken").form-control
              span(aria-hidden='true').glyphicon.form-control-feedback
              .help-block
                br
                li Must be between 3 and 16 characters <br>
                li Only letters, digits, minus and underscore are allowed <br>
                li First character must be a letter
              .help-block.with-error
        br
        - checked = checked || false
        .form-group
          label Agree to our Terms of Service:
            .input-group
              p I have read and agree with our <a href="https://faforever.com/tos" rel="_new">Terms of Service</a>
              input(type='checkbox', name='tosagree', required='required')
          label Agree to our Privacy Statement:
            .input-group
              p I have read and agree with our <a href="https://faforever.com/privacy" rel="_new">Privacy Statement</a>
              input(type='checkbox', name='privacyagree', required='required')
          label Agree to our Code of Conduct:
            .input-group
              p I have read and agree with our <a href="https://faforever.com/coc" rel="_new">Code of Conduct</a>
              input(type='checkbox', name='cocagree', required='required')
        br
        .form-group.has-feedback
          label
            .g-recaptcha(data-sitekey=recaptchaSiteKey)
        br
        br
        p We will send you an email with a link. The link will lead you to a page where you can set your password and activate your account.
        p If you don't receive an email please check your spam folder!
        .form-actions
          br
          button(type='submit').btn.btn-default.btn-lg.btn-outro.btn-danger Register
          br
          br

block js
  script(src='/js/account.min.js')
  script(src='//www.google.com/recaptcha/api.js')
