extends ../../layouts/default
include ../../mixins/flash-messages

block css
	link(href="/styles/css/account.min.css", rel="stylesheet")

block content
	.container.text-center
		.row
			.col-md-12
				h1.account-title Register to Forged Alliance Forever
				h4.account-subtitle.text-center Welcome to the Forged Alliance Forever registration page. To get started, please register with a unique username, email, and password.
				hr

		.row
			.col-md-offset-3.col-md-6
				+flash-messages(flash)
		.row
			.col-md-offset-3.col-md-6
				form(method='post',action="/account/register",data-toggle="validator")
					.form-group.has-feedback
						label Username:
							.input-group
								input(type='text', name='username', required='required', value=formData['username'], data-minlength='3').form-control
								span(aria-hidden='true').glyphicon.form-control-feedback
								.help-block Minimum of 3 characters
					.form-group.has-feedback
						label Email:
							.input-group
								input(type='email', name='email', required='required', value=formData['email']).form-control
								span(aria-hidden='true').glyphicon.form-control-feedback
								.help-block.with-errors
					.form-group.has-feedback
						label Password:
							.input-group
								input(type='password', name='password', required='required', id='inputPassword', data-minlength='6').form-control
								span(aria-hidden='true').glyphicon.form-control-feedback
								.help-block Minimum of 6 characters
					.form-group.has-feedback
						label Confirm Password:
							.input-group
								input(type='password', name='password_confirm', required='required',data-match='#inputPassword', data-match-error='Passwords don\'t match. Please fix!', data-minlength='6').form-control
								span(aria-hidden='true').glyphicon.form-control-feedback
								.help-block.with-errors
					.form-actions
						button(type='submit').btn.btn-default.btn-lg.btn-outro.btn-danger Register

block js
	script(src='/js/account.min.js')