extends ../../layouts/default
include ../../mixins/flash-messages
include ../../mixins/form/account

block content
  .container.text-center
    .row
      .col-md-12
        h1.account-title Register to Forged Alliance Forever
        h4.account-subtitle.text-center Welcome to the Forged Alliance Forever registration page. To get started, please register with a unique username, email, and password.
        p <strong>Important Account Rules:</strong>
          ul.text-left
            li <strong>You may only register one account.</strong> Additional accounts will be banned. If you misbehave using multiple accounts, you may be banned completely.
            li <strong>Your email address is the only way to regain access to your account</strong> if you lose your password. If you lose both your password and your email, you will lose access to your account. Due to unresolved technical issues we suggest NOT using an email address provided by t-online.de at the moment.
            li <strong>Full FAF Social rules:</strong> <a href="https://forums.faforever.com/viewtopic.php?f=2&t=16536">FAF Lobby and Forum rules</a>
        hr
        h3.account-steamLink-warning-title STEAM LINKING MANDATORY
        p.account-steamLink-warning-subtext Owning the game on Steam is <strong>mandatory</strong> to play on FAF. After registration, you will need to login to the FAF website to <a href="https://www.faforever.com/account/link">link your account</a> to Steam.
        p Note: According to <strong><a href="https://web.archive.org/web/20140903143132/http://forums.gaspowered.com/viewtopic.php?f=67&t=57459">GPG's statement</a></strong>, ALL existing CD keys for either Supreme Commander and Forged Alliance can be redeemed on Steam for a copy of the Supreme Commander Gold Edition bundle.
        hr

    .row
      .col-md-offset-3.col-md-6
        +flash-messages(flash)
    .row
      .col-md-offset-3.col-md-6
        form(method='post',action="/account/register",data-toggle="validator")
          +username
          +email
          +confirm-password
          +tosagree
          .form-group.has-feedback
            label
              .g-recaptcha(data-sitekey='6LctpD0UAAAAAAb4uwVXytn3faLRnUtEch8RimfC')
          .form-actions
            button(type='submit').btn.btn-default.btn-lg.btn-outro.btn-danger Register

block js
  script(src='/js/account.min.js')
  script(src='//www.google.com/recaptcha/api.js')
