extends ../../layouts/default
include ../../mixins/flash-messages
include ../../mixins/form/account

block bannerData
  - var bannerFirstTitle = "Reset Password"
  - var bannerSubTitle = ""

block content
  .passResetContainer
    .flashMessage.column12
      +flash-messages(flash)
    .passResetEmail.column12
      h2 Via email
      p Enter your username or email below to reset your password.
      br
      form(method='post',action="/account/password/reset",data-toggle="validator")
        label Username or email:
          .input-group
            input(type='text', name='usernameOrEmail', required='required', value=formData['usernameOrEmail']).form-control
            span(aria-hidden='true').glyphicon.form-control-feedback
        br
        p We will send you an email to your accounts email address containing a link. The link will lead you to a page where you can set your new password.
        p If you don't receive an email please check your spam folder!
        br
        label
          .g-recaptcha(data-sitekey=recaptchaSiteKey)
        .form-actions
          br
          button(type='submit').btn.btn-default.btn-lg.btn-outro.btn-danger Reset via email
          br
          br

    .splatForgedBorder.transformationReverse
      .movingBackground1
      .movingBackground2

    .passResetSteam.column12
      h2 Via steam
      p Click on the image below to get to the Steam login page:
      a(href=steamReset)
        img(src='/images/steam_link.png')

block js
    script(src='/js/account.min.js')
    script(src='//www.google.com/recaptcha/api.js')
