extends ../../layouts/default
include ../../mixins/flash-messages
include ../../mixins/form/account

block content
    .container.text-center
        .row
            .col-md-12
                h1.account-title Reset Password
                h4.account-subtitle.text-center Enter your username or email below to reset your password. The password will be reset based upon the one you specified in the form.
                hr
        .row
            .col-md-offset-3.col-md-6
                +flash-messages(flash)

        .row
            .col-md-offset-3.col-md-6
                form(method='post',action="/account/password/reset",data-toggle="validator")
                    +usernameOrEmail
                    +confirm-password
                    .form-actions
                        button(type='submit').btn.btn-default.btn-lg.btn-outro.btn-danger Reset

block js
    script(src='/js/account.min.js')
