@use '../abstracts/variables'

//Mixins

@mixin gridMainContainer
  display: grid
  grid-template-columns: repeat(12, 1fr)
  grid-template-rows: 1fr
  gap: 0
  overflow: hidden
  position: relative
  transition: 0.4s
  align-items: center

@mixin gridItem
  position: relative
  overflow: hidden
  object-fit: contain
  display: grid
  transition: 0.4s

  
@mixin gridImg
  width: 100%
  height: 100%
  object-fit: fill
  overflow: hidden
  transition: 0.4s

@mixin button
  color: variables.$color-active
  background-color: variables.$button-inactive
  font-family: variables.$family-subtitle
  border: 0.15em solid variables.$button-active
  font-size: 1.5em
  margin: 0.5em
  padding: 0.5em
  justify-self: center
  transition: 0.4s
  font-weight: bold
  letter-spacing: 0.1em
  cursor: pointer

  &:hover
    background-color: variables.$button-active
    
// Rectangle Mixins

@mixin mainRectangleContainer
  @include gridMainContainer
  background: linear-gradient(180deg, #111111 0%, #1a1a1a 100%)
  gap: 10px

@mixin mainRectangleContainerReverse
  @include gridMainContainer
  background: linear-gradient(180deg, #111111 0%, #1a1a1a 100%)
  gap: 10px
  direction: ltr

//Classes used across multiple documents

.gridMainContainer
  @include gridMainContainer

.gridItem
  @include gridItem

.gridImage
  img
    @include gridImg
    
.landingButton
  @include button

.mediumButton
  @include button
  font-size: 0.85em
  margin: 1.5em 0.5em 0em 0.5em
  padding: 0.5em
.smallButton
  @include button
  font-size: 0.75em
  margin: 0.25em
  padding: 0.25em
//This creates 12 column classes ranging from column 1 to 12. Necessary since the base of every grid container is 12 columns. Done in order to be able to divide by 2,3,4 or 6 pieces (or other combinations such as 3 + 9), the column size doesnt matter as long as the combination of them equals 12).
@for $i from 1 through 12 
  .column#{$i}
    grid-column: span $i
    
    

    
    



